workflows/production/ai-vHekMdSaIblyVaXo.json
{
  "updatedAt": "2026-07-14T05:54:27.285Z",
  "createdAt": "2026-07-03T14:50:45.645Z",
  "id": "vHekMdSaIblyVaXo",
  "name": "AI",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1024,
        -384
      ],
      "id": "6c624811-9659-4178-8512-d7644a71e00a",
      "name": "Telegram Trigger",
      "webhookId": "26a5b1a9-81a0-4f82-a26f-7a1df50b29d8",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "❌ Надішліть фото накладної.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -96
      ],
      "id": "704038cc-d251-4223-b802-27826ab6aacb",
      "name": "Send a text message",
      "webhookId": "2ab74eeb-2dee-4071-b120-a66f6ef6b6cd",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{$json.message.photo[$json.message.photo.length - 1].file_id}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -352,
        -288
      ],
      "id": "4dd8105d-8ab0-4354-b7ff-d862d55461c3",
      "name": "Get a file",
      "webhookId": "1e623d9d-6d37-4d71-aef4-79d6868c0a65",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eea7be44-a8c5-4132-ac8a-e77e48233df6",
              "leftValue": "={{$json.message.photo}}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        -192
      ],
      "id": "a10aa721-3ebf-4190-afb7-534bd15e3c51",
      "name": "IF Photo?"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "GPT-5.5"
        },
        "responses": {
          "values": [
            {
              "type": "image",
              "imageType": "base64",
              "imageDetail": "high"
            },
            {
              "content": "You are an invoice OCR and data extraction assistant.\n\nYour task is to extract structured data from supplier invoices for a restaurant.\n\nReturn ONLY valid JSON.\nDo not add explanations.\nDo not use markdown.\nDo not wrap the JSON in code blocks.\n\nIf some value is not visible, use null.\nIf you are not sure about a value, still extract the best possible value and add a warning in the \"warnings\" array.\n\nNormalize numbers:\n- Use dot as decimal separator.\n- Quantity, price and total must be numbers.\n- Dates should be returned in ISO format YYYY-MM-DD when possible.\n\nExtract all product rows.\nDo not merge different products.\nDo not invent products."
            },
            {
              "content": "Extract invoice data from this image.\n\nReturn JSON with this exact structure:\n\n{\n  \"supplier\": {\n    \"name\": null,\n    \"tax_id\": null,\n    \"phone\": null\n  },\n  \"invoice\": {\n    \"number\": null,\n    \"date\": null,\n    \"total_sum\": null,\n    \"currency\": \"UAH\"\n  },\n  \"items\": [\n    {\n      \"product_name\": null,\n      \"quantity\": null,\n      \"unit\": null,\n      \"price_per_unit\": null,\n      \"line_total\": null\n    }\n  ],\n  \"confidence\": {\n    \"overall\": 0,\n    \"supplier\": 0,\n    \"items\": 0,\n    \"totals\": 0\n  },\n  \"warnings\": []\n}\n\nImportant:\n- Return only JSON.\n- No comments.\n- No markdown."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -128,
        -288
      ],
      "id": "603df596-e78e-4355-b7c9-a90926385961",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "wmMo2Lknq3Hi5ts2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "615d7623-4663-425b-9dc0-4b6f973d479f",
              "leftValue": "={{ $json.callback_query }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        -384
      ],
      "id": "7c394d31-241a-4560-affa-a342ada9a3cb",
      "name": "Callback?"
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nlet raw =\n  input.output?.[0]?.content?.[0]?.text ||\n  input.content?.[0]?.text ||\n  input.text ||\n  input.output ||\n  input.message?.content ||\n  '';\n\nif (typeof raw !== 'string') {\n  raw = JSON.stringify(raw);\n}\n\nraw = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst start = raw.indexOf('{');\nconst end = raw.lastIndexOf('}');\n\nif (start === -1 || end === -1) {\n  throw new Error('JSON not found in AI response');\n}\n\nconst jsonString = raw.slice(start, end + 1);\nconst parsed = JSON.parse(jsonString);\n\nreturn [\n  {\n    json: {\n      supplier: parsed.supplier,\n      invoice: parsed.invoice,\n      items: parsed.items,\n      confidence: parsed.confidence || {},\n      warnings: parsed.warnings || [],\n      status: 'draft',\n      created_at: new Date().toISOString(),\n      telegram_chat_id: input.telegram_chat_id || 1679040654,\n      telegram_message_id: input.telegram_message_id || 2\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -288
      ],
      "id": "5e44c7ab-0959-4210-8df7-025d7a8e6568",
      "name": "Clean AI JSON"
    },
    {
      "parameters": {
        "jsCode": "let data = $json;\n\n// Если вдруг пришёл сырой ответ AI\nif (!data.supplier && data.content?.[0]?.text) {\n  const raw = data.content[0].text;\n  const jsonString = raw.slice(raw.indexOf('{'), raw.lastIndexOf('}') + 1);\n  data = JSON.parse(jsonString);\n}\n\nconst errors = [];\nconst warnings = data.warnings || [];\n\nif (!data.supplier?.name) {\n  errors.push('Не найден поставщик');\n}\n\nif (!data.items || !Array.isArray(data.items) || data.items.length === 0) {\n  errors.push('Не найдены товары');\n}\n\nif (!data.invoice?.number) {\n  warnings.push('Не найден номер накладной');\n}\n\nif (!data.invoice?.date) {\n  warnings.push('Не найдена дата накладной');\n}\n\nfor (const [index, item] of (data.items || []).entries()) {\n  if (!item.product_name) {\n    errors.push(`Позиция ${index + 1}: не найдено название товара`);\n  }\n\n  if (item.quantity === null || item.quantity === undefined) {\n    warnings.push(`Позиция ${index + 1}: не найдено количество`);\n  }\n\n  if (item.price_per_unit === null || item.price_per_unit === undefined) {\n    warnings.push(`Позиция ${index + 1}: не найдена цена`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...data,\n      validation: {\n        is_valid: errors.length === 0,\n        errors,\n        warnings\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -288
      ],
      "id": "65e3097d-6ab3-4d06-81ca-4df5f29a789b",
      "name": "Validate Invoice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b70dae9-b120-47fc-b45c-d55b147b2001",
              "leftValue": "={{ $json.validation.is_valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -288
      ],
      "id": "c41d9968-554c-4e15-88c0-f369d44acaa4",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const invoice = JSON.parse($json.data);\n\nconst items = invoice.items;\n\nconst itemsText = items\n.slice(0,10)\n.map((item,index)=>\n`${index+1}. ${item.product_name}\n${item.quantity} ${item.unit}\n× ${item.price_per_unit}`)\n.join(\"\\n\");\n\nreturn [{\njson:{\n...$json,\ntelegramMessage:`\n📦 Накладна розпізнана\n\n🏢 Постачальник:\n${$json.supplier}\n\n🧾 Номер:\n${$json.invoiceNumber}\n\n📅 Дата:\n${$json.invoiceDate}\n\n💰 Сума:\n${$json.totalSum} грн\n\n📋 Позицій:\n${items.length}\n\n${itemsText}\n\nПідтвердити внесення?\n`\n}\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        -384
      ],
      "id": "e0bbb60e-cb1c-4abd-830e-09713fb656d4",
      "name": "Build Confirm Message"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.telegramMessage }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Подтвердить",
                    "additionalFields": {
                      "callback_data": "=invoice_confirm:{{ $json.draftId }}"
                    }
                  },
                  {
                    "text": "❌ Отменить",
                    "additionalFields": {
                      "callback_data": "=invoice_cancel:{{ $json.draftId }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        -384
      ],
      "id": "a9abe388-75b3-4f57-93b5-d2546ad34775",
      "name": "Send Confirmation",
      "webhookId": "c6082c1d-4410-41f8-9d25-05440e8e8ea7",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const draftId = Date.now().toString();\n\nreturn [{\n  json: {\n    draftId,\n    status: \"draft\",\n    createdAt: new Date().toISOString(),\n\n    chatId: $json.telegram_chat_id,\n\n    supplier: $json.supplier.name,\n    invoiceNumber: $json.invoice.number,\n    invoiceDate: $json.invoice.date,\n    totalSum: $json.invoice.total_sum,\n\n    data: JSON.stringify({\n      supplier: $json.supplier,\n      invoice: $json.invoice,\n      items: $json.items\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -384
      ],
      "id": "fc4833cb-5662-4a2f-962c-83ae3742f6bc",
      "name": "Prepare Draft"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ULwgQ2cmxLNAHCE2",
          "mode": "list",
          "cachedResultName": "invoiceDrafts",
          "cachedResultUrl": "/projects/tpHcOqN3nfT7Wyud/datatables/ULwgQ2cmxLNAHCE2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "draftId": "={{ $json.draftId }}",
            "status": "={{ $json.status }}",
            "chatId": "={{ $json.chatId }}",
            "supplier": "={{ $json.supplier }}",
            "invoiceNumber": "={{ $json.invoiceNumber }}",
            "invoiceDate": "={{ $json.invoiceDate }}",
            "totalSum": "={{ $json.totalSum }}",
            "data": "={{ $json.data }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "draftId",
              "displayName": "draftId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoiceNumber",
              "displayName": "invoiceNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoiceDate",
              "displayName": "invoiceDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "totalSum",
              "displayName": "totalSum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1120,
        -384
      ],
      "id": "ed04fefa-cdf2-414a-8c3b-8d01c9b3c6c3",
      "name": "Insert row"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=❌ Накладную не удалось корректно распознать.  Ошибки: {{ $json.validation.errors.join('\\n') }}  Попробуй сфотографировать накладную ровнее и ближе.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        896,
        -192
      ],
      "id": "1f2eb0f0-33ed-4425-8140-24cf479f8e3e",
      "name": "Send a text message1",
      "webhookId": "9831df55-1b2a-4dbc-b811-2bbfdca5f824",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const callback = $json.callback_query;\nconst callbackData = callback.data;\n\nconst [action, draftId] = callbackData.split(':');\n\nreturn [{\n  json: {\n    action,\n    draftId,\n    chatId: callback.message.chat.id,\n    messageId: callback.message.message_id,\n    callbackQueryId: callback.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -576
      ],
      "id": "bb3fe84e-a4b7-4dbc-94e3-2b9d8606805e",
      "name": "Parse Callback"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "invoice_confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3a71c81-80a2-4778-9e4a-7d38ef964484"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirm"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4b7715ba-e2b3-4cf3-8e88-3988db81d3cf",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "invoice_cancel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        -576
      ],
      "id": "bc2c2e56-82a7-410c-a733-55edddbe6f5e",
      "name": "action"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ULwgQ2cmxLNAHCE2",
          "mode": "list",
          "cachedResultName": "invoiceDrafts",
          "cachedResultUrl": "/projects/tpHcOqN3nfT7Wyud/datatables/ULwgQ2cmxLNAHCE2"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "draftId",
              "keyValue": "={{ $json.draftId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -64,
        -672
      ],
      "id": "399ac262-9fa0-406c-b159-d72f0453cdc2",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "const draft = $json;\n\nconst invoice = JSON.parse(draft.data);\n\nreturn [{\n  json: {\n    draftId: draft.draftId,\n    status: draft.status,\n    chatId: draft.chatId,\n\n    supplier: invoice.supplier,\n    invoice: invoice.invoice,\n    items: invoice.items,\n\n    message: `✅ Накладная подтверждена\n\n🏢 Поставщик:\n${invoice.supplier?.name || 'не найден'}\n\n🧾 № ${invoice.invoice?.number || 'не найден'}\n\n📅 ${invoice.invoice?.date || 'не найдена'}\n\n💰 ${invoice.invoice?.total_sum || 'не найдена'} грн\n\n📋 Позиций: ${invoice.items?.length || 0}\n\nСледующий шаг: отправка в Syrve.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -672
      ],
      "id": "bbabaffc-a7c9-4e4a-8a1c-99045709a49f",
      "name": "Parse Draft"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        -672
      ],
      "id": "713347f6-dd9a-4fab-9bf1-2f921d89d69f",
      "name": "Send a text message2",
      "webhookId": "b80f2aec-5321-4484-9828-f60276877a34",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=❌ Накладная отменена. Черновик помечен как cancelled.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        -480
      ],
      "id": "de31333a-30e9-4184-bdbd-9cbe7491ef43",
      "name": "Send a text message3",
      "webhookId": "b80f2aec-5321-4484-9828-f60276877a34",
      "credentials": {
        "telegramApi": {
          "id": "BEtwSekmHAHAHSxR",
          "name": "Shamrock_Ai"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "ULwgQ2cmxLNAHCE2",
          "mode": "list",
          "cachedResultName": "invoiceDrafts",
          "cachedResultUrl": "/projects/tpHcOqN3nfT7Wyud/datatables/ULwgQ2cmxLNAHCE2"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "draftId",
              "keyValue": "={{ $('Parse Draft').item.json.draftId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        160,
        -480
      ],
      "id": "bab2e50a-28a0-424d-853d-ab0155aae36d",
      "name": "Delete row(s)1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "ULwgQ2cmxLNAHCE2",
          "mode": "list",
          "cachedResultName": "invoiceDrafts",
          "cachedResultUrl": "/projects/tpHcOqN3nfT7Wyud/datatables/ULwgQ2cmxLNAHCE2"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "draftId",
              "keyValue": "={{ $('Parse Draft').item.json.draftId }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chatId": 0,
            "totalSum": 0,
            "status": "confirmed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "draftId",
              "displayName": "draftId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chatId",
              "displayName": "chatId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "supplier",
              "displayName": "supplier",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoiceNumber",
              "displayName": "invoiceNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoiceDate",
              "displayName": "invoiceDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "totalSum",
              "displayName": "totalSum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        -672
      ],
      "id": "8dcefc98-195b-4ea4-be93-dfb01747157d",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "jsCode": "const invoice = JSON.parse($json.data);\n\nreturn [{\n  json: {\n    draftId: $json.draftId,\n    chatId: $json.chatId,\n\n    supplier: invoice.supplier,\n    invoice: invoice.invoice,\n    items: invoice.items\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -672
      ],
      "id": "b1d555b2-c9a7-4d77-b92c-a355a8129725",
      "name": "Parse Draft1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://shamrock.syrve.online/resto/api/auth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "login"
            },
            {
              "name": "pass"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1104,
        -672
      ],
      "id": "bfd28098-9ec8-43b7-b104-dcfccd26e193",
      "name": "Get Syrve Token"
    },
    {
      "parameters": {
        "url": "https://SERVER_URL/api/0/suppliers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization:",
              "value": "= Bearer {{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1312,
        -672
      ],
      "id": "a67c07ed-d262-4063-8a7a-1b354b3269df",
      "name": "Find Supplier"
    },
    {
      "parameters": {
        "jsCode": "const supplierName = $node[\"Parse Draft\"].json.supplier.name.toLowerCase();\n\nconst suppliers = $json.suppliers || $json;\n\nconst found = suppliers.find(s =>\n  s.name?.toLowerCase().includes(supplierName) ||\n  supplierName.includes(s.name?.toLowerCase())\n);\n\nif (!found) {\n  throw new Error(`Поставщик не найден: ${supplierName}`);\n}\n\nreturn [{\n  json: {\n    ...$node[\"Parse Draft\"].json,\n    supplierId: found.id,\n    supplierMatchedName: found.name\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -672
      ],
      "id": "9f89c86f-f23d-419c-a489-c36615dde585",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "GET https://SERVER_URL/api/0/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1728,
        -672
      ],
      "id": "56f0f7b8-86fc-4416-840b-c4ca64ba7612",
      "name": "Find Products"
    },
    {
      "parameters": {
        "jsCode": "const invoiceData = $node[\"Parse Draft\"].json;\nconst products = $json.products || $json;\n\nconst matchedItems = [];\nconst unmatchedItems = [];\n\nfor (const item of invoiceData.items) {\n  const itemName = item.product_name.toLowerCase();\n\n  const found = products.find(p =>\n    p.name?.toLowerCase() === itemName ||\n    p.name?.toLowerCase().includes(itemName) ||\n    itemName.includes(p.name?.toLowerCase())\n  );\n\n  if (found) {\n    matchedItems.push({\n      productId: found.id,\n      productName: found.name,\n      quantity: item.quantity,\n      unit: item.unit,\n      price: item.price_per_unit,\n      sum: item.line_total,\n      originalName: item.product_name\n    });\n  } else {\n    unmatchedItems.push(item);\n  }\n}\n\nreturn [{\n  json: {\n    ...invoiceData,\n    matchedItems,\n    unmatchedItems\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -672
      ],
      "id": "eb0f77d3-4b77-4389-a004-9736fd656bf0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "16515aee-3bc7-499c-a79c-6ff0f7e3074f",
              "leftValue": "={{ $json.unmatchedItems.length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2144,
        -672
      ],
      "id": "35c178d0-0e3a-4296-b243-8c081cc21645",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const payload = {\n  supplierId: $json.supplierId,\n  number: $json.invoice.number,\n  date: $json.invoice.date,\n  items: $json.matchedItems.map(i => ({\n    productId: i.productId,\n    amount: i.quantity,\n    price: i.price,\n    sum: i.sum\n  }))\n};\n\nreturn [{\n  json: {\n    ...$json,\n    syrvePayload: payload\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        -768
      ],
      "id": "29c0cbba-f95c-4b45-8e8a-55975b19c647",
      "name": "Prepare Purchase Invoice Payload"
    },
    {
      "parameters": {
        "url": "https://SERVER_URL/api/0/documents/purchaseInvoice",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization:",
              "value": "=Bearer {{ $json.token }}"
            },
            {
              "name": "Content-Type:",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.syrvePayload) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2560,
        -768
      ],
      "id": "f522fb26-639c-4ded-a4f5-3f240ce3961d",
      "name": "Create Purchase Invoice"
    }
  ],
  "connections": {
    "Get a file": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Photo?": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Callback?": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Photo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Clean AI JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI JSON": {
      "main": [
        [
          {
            "node": "Validate Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Invoice": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Confirm Message": {
      "main": [
        [
          {
            "node": "Send Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Draft": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Build Confirm Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "action": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Parse Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message3": {
      "main": [
        [
          {
            "node": "Delete row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Parse Draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Draft1": {
      "main": [
        [
          {
            "node": "Get Syrve Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Syrve Token": {
      "main": [
        [
          {
            "node": "Find Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Supplier": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Find Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Products": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Prepare Purchase Invoice Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Purchase Invoice Payload": {
      "main": [
        [
          {
            "node": "Create Purchase Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "bd3119c3-ea0d-47e5-8823-01cccda0cf9f",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-03T14:50:45.649Z",
      "createdAt": "2026-07-03T14:50:45.649Z",
      "role": "workflow:owner",
      "workflowId": "vHekMdSaIblyVaXo",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": null,
  "tags": []
}