workflows/production/assembblyai-transcribation-DJ3BQ8O6dQzYaJG5.json
{
  "updatedAt": "2026-04-20T11:59:31.284Z",
  "createdAt": "2026-04-20T11:06:15.393Z",
  "id": "DJ3BQ8O6dQzYaJG5",
  "name": "assembblyAi transcribation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1312,
        -96
      ],
      "id": "d4ccd3fe-a472-4b35-a68b-fb19e8e8099b",
      "name": "Start"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ea0513f-cb92-48df-a386-7d2b9e141dcf",
              "name": "url",
              "value": "https://drive.google.com/file/d/1nN4IGJ1M6KBN61PWverd4b0aW05LTsQC/view?usp=drive_link",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1104,
        -96
      ],
      "id": "7941bd62-7de6-4b4c-b0ef-1658ac97692d",
      "name": "URL"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n  const url = item.json.url;\n\n  if (!url || typeof url !== 'string') {\n    results.push({\n      json: {\n        error: 'Field \"url\" is missing or is not a string',\n        original_input: item.json,\n      },\n    });\n    continue;\n  }\n\n  let fileId = null;\n\n  // Example:\n  // https://drive.google.com/file/d/FILE_ID/view?usp=drive_link\n  let match = url.match(/\\/file\\/d\\/([a-zA-Z0-9_-]+)/);\n\n  // Example:\n  // https://drive.google.com/open?id=FILE_ID\n  if (!match) {\n    match = url.match(/[?&]id=([a-zA-Z0-9_-]+)/);\n  }\n\n  // Example:\n  // raw FILE_ID only\n  if (!match) {\n    match = url.match(/^([a-zA-Z0-9_-]{20,})$/);\n  }\n\n  if (match && match[1]) {\n    fileId = match[1];\n  }\n\n  if (!fileId) {\n    results.push({\n      json: {\n        error: 'Could not extract Google Drive file ID',\n        original_url: url,\n      },\n    });\n    continue;\n  }\n\n  const downloadLink = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\n  results.push({\n    json: {\n      original_url: url,\n      file_id: fileId,\n      download_link: downloadLink,\n    },\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -96
      ],
      "id": "dafca34e-e56e-454c-857e-6acf72ac71ec",
      "name": "exract url"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"audio_url\": \"{{ $json.download_link }}\",\n  \"speech_models\": [\n    \"universal-2\"]\n    }\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -688,
        -96
      ],
      "id": "98cd0e0f-c7af-43dc-b92b-6b23dfaba3c4",
      "name": "/transcript",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nIPNNgiE2RmjVFt",
          "name": "assemblyAi"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -480,
        -96
      ],
      "id": "c298bdc2-179e-4391-b1fd-6c26b18119a6",
      "name": "Wait 5  second",
      "webhookId": "118aa3f4-0ac2-41e6-87b9-50d13e4a53c6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ac7c758f-5807-4ee3-8f73-c94340906e28",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c3b314a5-5020-4635-8db1-a1b21f277e5f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -48,
        -96
      ],
      "id": "00ec6603-db97-4315-81db-3578a757fd5d",
      "name": "If completed of error?"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{$json.id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        -96
      ],
      "id": "07c17254-fc7e-4a75-9f3f-7df0ada1b20a",
      "name": "GET/transcript",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nIPNNgiE2RmjVFt",
          "name": "assemblyAi"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "exract url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "exract url": {
      "main": [
        [
          {
            "node": "/transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/transcript": {
      "main": [
        [
          {
            "node": "Wait 5  second",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5  second": {
      "main": [
        [
          {
            "node": "GET/transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET/transcript": {
      "main": [
        [
          {
            "node": "If completed of error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If completed of error?": {
      "main": [
        [],
        [
          {
            "node": "Wait 5  second",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8549fa80-4e66-41af-8289-fc6a48b92f03",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-20T11:06:15.395Z",
      "createdAt": "2026-04-20T11:06:15.395Z",
      "role": "workflow:owner",
      "workflowId": "DJ3BQ8O6dQzYaJG5",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": null,
  "tags": []
}