workflows/production/bootstrap-создать-таблицу-такси-1zMaPWFTbCWBIGgi.json
{
  "updatedAt": "2026-07-18T20:39:40.000Z",
  "createdAt": "2026-07-18T20:28:39.979Z",
  "id": "1zMaPWFTbCWBIGgi",
  "name": "Bootstrap: Создать таблицу такси",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "5bb7689a-bb9e-47c9-9f46-278d25141119",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {}
    },
    {
      "id": "d30f86e8-0336-447e-b08e-437a05eff6ac",
      "name": "Создать таблицу",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "spreadsheet",
        "operation": "create",
        "title": "Разводка такси — Локации сотрудников",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "Локации"
            }
          ]
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "id": "7c17872e-8ea4-4fb9-b480-0edcd522e0a6",
      "name": "Добавить заголовки",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        680,
        300
      ],
      "parameters": {
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.spreadsheetId }}",
          "cachedResultName": "Разводка такси — Локации сотрудников"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Локации"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Name",
            "Id": "Id",
            "Date": "Date",
            "Location": "Location",
            "Timestamp": "Timestamp"
          },
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Создать таблицу",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Создать таблицу": {
      "main": [
        [
          {
            "node": "Добавить заголовки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "aiBuilderAssisted": true,
    "builderVariant": "mcp"
  },
  "nodeGroups": [],
  "pinData": null,
  "versionId": "0b89af65-baff-48a4-a746-8c1cd40c7bd6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-18T20:28:39.981Z",
      "createdAt": "2026-07-18T20:28:39.981Z",
      "role": "workflow:owner",
      "workflowId": "1zMaPWFTbCWBIGgi",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": null,
  "tags": []
}