workflows/production/error-for-tony-oYc7VMcDoy6gkP90.json
{
  "updatedAt": "2026-07-18T20:19:02.409Z",
  "createdAt": "2026-04-08T10:23:54.502Z",
  "id": "oYc7VMcDoy6gkP90",
  "name": "error for tony",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -16
      ],
      "id": "c173dddf-2a80-4e7e-a15a-0281d4acf024",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "=-1003778943816",
        "text": "❌ Неправильний формат часу. \n\nПиши тільки так: 10:00-21:00 \nПриклади правильного формату: 09:50-22:30 08:00-16:45\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        -16
      ],
      "id": "860743e4-8350-417c-afa8-64de54065c85",
      "name": "Send a text message",
      "webhookId": "ee403805-43d8-4451-be92-77a495a8ea6d",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "fhuHHM0lesLeKwYF",
          "name": "tony/time"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawMessage = $json.execution?.error?.message || '';\n\nlet chat_id = null;\nlet error_type = 'UNKNOWN_ERROR';\n\nif (rawMessage.includes('|')) {\n  const parts = rawMessage.split('|');\n  error_type = parts[0];\n  chat_id = parts[1].split(' ')[0];\n}\n\nreturn [{\n  chat_id,\n  error_type\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -16
      ],
      "id": "32cfd76b-b46b-4a4e-b6bf-8b9e5e947e6b",
      "name": "Parse Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "321f96e8-8323-4043-add1-9fcfe1a3e955",
              "leftValue": "={{ $json.error_type === 'INVALID_FORMAT' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        -16
      ],
      "id": "ebd7da98-9065-4bc7-b65d-06d01e06b6d2",
      "name": "If"
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "5bbfd2ea-38fb-4721-9ae5-e1ef3753a9fd",
  "activeVersionId": "5bbfd2ea-38fb-4721-9ae5-e1ef3753a9fd",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-08T10:23:54.504Z",
      "createdAt": "2026-04-08T10:23:54.504Z",
      "role": "workflow:owner",
      "workflowId": "oYc7VMcDoy6gkP90",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-02T19:15:47.000Z",
    "createdAt": "2026-07-02T19:15:17.358Z",
    "versionId": "5bbfd2ea-38fb-4721-9ae5-e1ef3753a9fd",
    "workflowId": "oYc7VMcDoy6gkP90",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -624,
          -16
        ],
        "id": "c173dddf-2a80-4e7e-a15a-0281d4acf024",
        "name": "Error Trigger"
      },
      {
        "parameters": {
          "chatId": "=-1003778943816",
          "text": "❌ Неправильний формат часу. \n\nПиши тільки так: 10:00-21:00 \nПриклади правильного формату: 09:50-22:30 08:00-16:45\n",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          32,
          -16
        ],
        "id": "860743e4-8350-417c-afa8-64de54065c85",
        "name": "Send a text message",
        "webhookId": "ee403805-43d8-4451-be92-77a495a8ea6d",
        "notesInFlow": false,
        "credentials": {
          "telegramApi": {
            "id": "fhuHHM0lesLeKwYF",
            "name": "tony/time"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const rawMessage = $json.execution?.error?.message || '';\n\nlet chat_id = null;\nlet error_type = 'UNKNOWN_ERROR';\n\nif (rawMessage.includes('|')) {\n  const parts = rawMessage.split('|');\n  error_type = parts[0];\n  chat_id = parts[1].split(' ')[0];\n}\n\nreturn [{\n  chat_id,\n  error_type\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -416,
          -16
        ],
        "id": "32cfd76b-b46b-4a4e-b6bf-8b9e5e947e6b",
        "name": "Parse Error"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "321f96e8-8323-4043-add1-9fcfe1a3e955",
                "leftValue": "={{ $json.error_type === 'INVALID_FORMAT' }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -208,
          -16
        ],
        "id": "ebd7da98-9065-4bc7-b65d-06d01e06b6d2",
        "name": "If"
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Parse Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Error": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buts Sergei",
    "name": "Version 5bbfd2ea",
    "description": "",
    "autosaved": true
  },
  "tags": []
}