workflows/production/get-fact-YL7pSBng3Kc6ldB8.json
{
  "updatedAt": "2026-04-14T17:37:21.885Z",
  "createdAt": "2026-04-14T17:29:29.038Z",
  "id": "YL7pSBng3Kc6ldB8",
  "name": "Get_fact",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        -80
      ],
      "id": "d72e7b7a-b552-449f-89fe-34d009b1bf82",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "VoGjGXfjo5ItE3v1",
          "mode": "list",
          "cachedResultName": "User_facts",
          "cachedResultUrl": "/projects/tpHcOqN3nfT7Wyud/datatables/VoGjGXfjo5ItE3v1"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -208,
        -80
      ],
      "id": "aee08eae-0d10-4b91-90db-4e733e0f7f03",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b25f2d99-38b6-4672-8abf-011c989705c7",
              "leftValue": "={{$json.values().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        -80
      ],
      "id": "1cd1be46-1605-4360-ab38-517926fc60a4",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b464c37-7ef2-49d8-840d-7a284a241c4f",
              "name": "fact_type",
              "value": "={{ $json.fact_type }}",
              "type": "string"
            },
            {
              "id": "569f7671-2072-4511-9bab-28098b73556f",
              "name": "fact_content",
              "value": "={{ $json.fact_content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -208
      ],
      "id": "b76ec7dd-5f42-498d-a0f6-2d902ff3b415",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43b423bc-9889-4445-9f62-744818ed5791",
              "name": "anyFackFound",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        16
      ],
      "id": "a8bdccc9-e8bc-4490-b3a0-2b0aba77bf99",
      "name": "return"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b355ed6e-a8c0-4f3a-baba-440bf3871205",
  "activeVersionId": "b355ed6e-a8c0-4f3a-baba-440bf3871205",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-14T17:29:29.040Z",
      "createdAt": "2026-04-14T17:29:29.040Z",
      "role": "workflow:owner",
      "workflowId": "YL7pSBng3Kc6ldB8",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-15T09:56:46.000Z",
    "createdAt": "2026-04-14T17:37:21.885Z",
    "versionId": "b355ed6e-a8c0-4f3a-baba-440bf3871205",
    "workflowId": "YL7pSBng3Kc6ldB8",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -416,
          -80
        ],
        "id": "d72e7b7a-b552-449f-89fe-34d009b1bf82",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "get",
          "dataTableId": {
            "__rl": true,
            "value": "VoGjGXfjo5ItE3v1",
            "mode": "list",
            "cachedResultName": "User_facts",
            "cachedResultUrl": "/projects/tpHcOqN3nfT7Wyud/datatables/VoGjGXfjo5ItE3v1"
          },
          "returnAll": true
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          -208,
          -80
        ],
        "id": "aee08eae-0d10-4b91-90db-4e733e0f7f03",
        "name": "Get row(s)",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b25f2d99-38b6-4672-8abf-011c989705c7",
                "leftValue": "={{$json.values().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          -80
        ],
        "id": "1cd1be46-1605-4360-ab38-517926fc60a4",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0b464c37-7ef2-49d8-840d-7a284a241c4f",
                "name": "fact_type",
                "value": "={{ $json.fact_type }}",
                "type": "string"
              },
              {
                "id": "569f7671-2072-4511-9bab-28098b73556f",
                "name": "fact_content",
                "value": "={{ $json.fact_content }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          272,
          -208
        ],
        "id": "b76ec7dd-5f42-498d-a0f6-2d902ff3b415",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "43b423bc-9889-4445-9f62-744818ed5791",
                "name": "anyFackFound",
                "value": false,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          208,
          16
        ],
        "id": "a8bdccc9-e8bc-4490-b3a0-2b0aba77bf99",
        "name": "return"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get row(s)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s)": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "return",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buts Sergei",
    "name": "Version b355ed6e",
    "description": "",
    "autosaved": true
  },
  "tags": []
}