workflows/production/morning-summary-Zy5KjiMvWnrIAo33.json
{
  "updatedAt": "2026-06-22T09:16:56.411Z",
  "createdAt": "2026-06-05T20:36:36.324Z",
  "id": "Zy5KjiMvWnrIAo33",
  "name": "Morning Summary",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -112
      ],
      "id": "78657832-33a7-4266-968a-7a8097a51620",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=Сформуй короткий ранковий summary українською мовою.\n\nПодії календаря:\n{{ JSON.stringify($json.events) }}\n\nЗадачі:\n{{ JSON.stringify($json.tasks) }}\n\nРегулярні платежі:\n{{ JSON.stringify($json.payments) }}\n\nФормат відповіді:\n\n☀️ Доброго ранку!\n\n📅 Зустрічі на сьогодні:\n- час — назва\n\n✅ Задачі:\n- задача\n\n💰 Платежі:\n- назва — сума — коли оплатити\n\nПравила:\n\n- Якщо подій немає, напиши:\n📅 Зустрічей на сьогодні немає.\n\n- Якщо задач немає, напиши:\n✅ Задач на сьогодні немає.\n\n- Якщо платежів немає, напиши:\n💰 Найближчих платежів немає.\n\n- Якщо сума платежу не вказана, не пиши суму.\n\n- Якщо days_left = 0, напиши:\nсьогодні\n\n- Якщо days_left = 1, напиши:\nзавтра\n\n- Якщо days_left більше 1, напиши:\nчерез X днів\n\n- Не вигадуй події, задачі або платежі.\n- Не додавай інформацію, якої немає у вхідних даних.\n- Пиши коротко, зрозуміло, без зайвої води."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        320,
        -112
      ],
      "id": "fbd14b4c-07d9-4e25-bdea-15ca57486465",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "SuJ6fVcyIeq9uR1k",
          "name": "OpenAI account Garmash"
        }
      }
    },
    {
      "parameters": {
        "chatId": "75417250",
        "text": "={{ $json.output[0].content[0].text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        -112
      ],
      "id": "7f0959b5-54c1-41d9-b3b6-195698614a01",
      "name": "Telegram Send Summary",
      "webhookId": "974bf46a-d645-48cc-9cb0-e037ca0aac47",
      "credentials": {
        "telegramApi": {
          "id": "LAKXnWIRDoCt8OvO",
          "name": "Ai_assistent_Garmash"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "arturgarmash@gmail.com",
          "mode": "list",
          "cachedResultName": "arturgarmash@gmail.com"
        },
        "timeMin": "={{ $now.startOf('day') }}",
        "timeMax": "={{ $now.endOf('day') }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "Europe/Kyiv",
            "mode": "list",
            "cachedResultName": "Europe/Kyiv"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -352,
        -112
      ],
      "id": "a2e0e106-f06b-46b1-8ddd-a8180b3a03e8",
      "name": "Get many events",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OgolbcqXuI5q9oWX",
          "name": "Google Calendar account Garmash"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {
          "projectId": "6gq2WCCMJ6QwQfXX"
        }
      },
      "type": "n8n-nodes-base.todoist",
      "typeVersion": 2.2,
      "position": [
        -352,
        80
      ],
      "id": "0d6d40c0-6e15-4e9d-8970-cdfd5cd90b0d",
      "name": "Get many tasks",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": true,
      "maxTries": 5,
      "credentials": {
        "todoistApi": {
          "id": "TqFMMAS9MLn2IxBk",
          "name": "Todoist account Garmash"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = $('Get many events').all().map(item => ({\n  title: item.json.summary || 'Без назви',\n  start: item.json.start?.dateTime || item.json.start?.date || '',\n  end: item.json.end?.dateTime || item.json.end?.date || '',\n  description: item.json.description || ''\n}));\n\nconst tasks = $('Get many tasks').all().map(item => ({\n  title: item.json.content || 'Без назви',\n  description: item.json.description || '',\n  due: item.json.due?.date || ''\n}));\n\nconst payments = $('Check Due Payments').all().map(item => ({\n  name: item.json.payment_name || '',\n  amount: item.json.amount || '',\n  category: item.json.category || '',\n  payment_day: item.json.payment_day || '',\n  days_left: item.json.days_left || ''\n}));\n\nreturn [\n  {\n    json: {\n      events,\n      tasks,\n      payments\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -112
      ],
      "id": "a3ac3259-8b40-40ce-b56e-c79658a67985",
      "name": "Prepare Summary Data"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        -128
      ],
      "id": "da3e6ffb-9683-4c70-a659-42991ea760d4",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eGUTAW-BmF7OpPN3A95TZbQDAIGoJse43uXYQx4IFUM/edit?gid=1567013522#gid=1567013522",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1567013522,
          "mode": "list",
          "cachedResultName": "Recurring Payments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eGUTAW-BmF7OpPN3A95TZbQDAIGoJse43uXYQx4IFUM/edit#gid=1567013522"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -304
      ],
      "id": "0111a977-d0d1-4527-84e6-becb2c702433",
      "name": "Recurring Payments",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\n\nconst currentDay = today.getDate();\n\nconst reminders = [];\n\nfor (const item of items) {\n\n  const paymentDay = Number(item.json.Day);\n  const reminderDays = Number(item.json[\"Reminder Days\"]);\n\n  const daysLeft = paymentDay - currentDay;\n\n  if (daysLeft === reminderDays) {\n\n    reminders.push({\n      json: {\n        payment_name: item.json.Name,\n        amount: item.json.Amount,\n        category: item.json.Category,\n        payment_day: paymentDay,\n        days_left: daysLeft\n      }\n    });\n\n  }\n\n}\n\nreturn reminders;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        -304
      ],
      "id": "f6d1a0a8-b708-481b-9250-30e06ec843a9",
      "name": "Check Due Payments"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recurring Payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Telegram Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many tasks": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare Summary Data": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Summary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recurring Payments": {
      "main": [
        [
          {
            "node": "Check Due Payments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Due Payments": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "ZC70w09Auv6IQKOQ",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4b22ddc8-7f6f-427c-bd1b-103302abe0ac",
  "activeVersionId": "4b22ddc8-7f6f-427c-bd1b-103302abe0ac",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-05T20:36:36.328Z",
      "createdAt": "2026-06-05T20:36:36.328Z",
      "role": "workflow:owner",
      "workflowId": "Zy5KjiMvWnrIAo33",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-22T09:16:57.000Z",
    "createdAt": "2026-06-22T09:16:56.413Z",
    "versionId": "4b22ddc8-7f6f-427c-bd1b-103302abe0ac",
    "workflowId": "Zy5KjiMvWnrIAo33",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8,
                "triggerAtMinute": 10
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -800,
          -112
        ],
        "id": "78657832-33a7-4266-968a-7a8097a51620",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "responses": {
            "values": [
              {
                "content": "=Сформуй короткий ранковий summary українською мовою.\n\nПодії календаря:\n{{ JSON.stringify($json.events) }}\n\nЗадачі:\n{{ JSON.stringify($json.tasks) }}\n\nРегулярні платежі:\n{{ JSON.stringify($json.payments) }}\n\nФормат відповіді:\n\n☀️ Доброго ранку!\n\n📅 Зустрічі на сьогодні:\n- час — назва\n\n✅ Задачі:\n- задача\n\n💰 Платежі:\n- назва — сума — коли оплатити\n\nПравила:\n\n- Якщо подій немає, напиши:\n📅 Зустрічей на сьогодні немає.\n\n- Якщо задач немає, напиши:\n✅ Задач на сьогодні немає.\n\n- Якщо платежів немає, напиши:\n💰 Найближчих платежів немає.\n\n- Якщо сума платежу не вказана, не пиши суму.\n\n- Якщо days_left = 0, напиши:\nсьогодні\n\n- Якщо days_left = 1, напиши:\nзавтра\n\n- Якщо days_left більше 1, напиши:\nчерез X днів\n\n- Не вигадуй події, задачі або платежі.\n- Не додавай інформацію, якої немає у вхідних даних.\n- Пиши коротко, зрозуміло, без зайвої води."
              }
            ]
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.3,
        "position": [
          320,
          -112
        ],
        "id": "fbd14b4c-07d9-4e25-bdea-15ca57486465",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "SuJ6fVcyIeq9uR1k",
            "name": "OpenAI account Garmash"
          }
        }
      },
      {
        "parameters": {
          "chatId": "75417250",
          "text": "={{ $json.output[0].content[0].text }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          672,
          -112
        ],
        "id": "7f0959b5-54c1-41d9-b3b6-195698614a01",
        "name": "Telegram Send Summary",
        "webhookId": "974bf46a-d645-48cc-9cb0-e037ca0aac47",
        "credentials": {
          "telegramApi": {
            "id": "LAKXnWIRDoCt8OvO",
            "name": "Ai_assistent_Garmash"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "arturgarmash@gmail.com",
            "mode": "list",
            "cachedResultName": "arturgarmash@gmail.com"
          },
          "timeMin": "={{ $now.startOf('day') }}",
          "timeMax": "={{ $now.endOf('day') }}",
          "options": {
            "timeZone": {
              "__rl": true,
              "value": "Europe/Kyiv",
              "mode": "list",
              "cachedResultName": "Europe/Kyiv"
            }
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          -352,
          -112
        ],
        "id": "a2e0e106-f06b-46b1-8ddd-a8180b3a03e8",
        "name": "Get many events",
        "alwaysOutputData": true,
        "executeOnce": false,
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OgolbcqXuI5q9oWX",
            "name": "Google Calendar account Garmash"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "filters": {
            "projectId": "6gq2WCCMJ6QwQfXX"
          }
        },
        "type": "n8n-nodes-base.todoist",
        "typeVersion": 2.2,
        "position": [
          -352,
          80
        ],
        "id": "0d6d40c0-6e15-4e9d-8970-cdfd5cd90b0d",
        "name": "Get many tasks",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "executeOnce": true,
        "maxTries": 5,
        "credentials": {
          "todoistApi": {
            "id": "TqFMMAS9MLn2IxBk",
            "name": "Todoist account Garmash"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const events = $('Get many events').all().map(item => ({\n  title: item.json.summary || 'Без назви',\n  start: item.json.start?.dateTime || item.json.start?.date || '',\n  end: item.json.end?.dateTime || item.json.end?.date || '',\n  description: item.json.description || ''\n}));\n\nconst tasks = $('Get many tasks').all().map(item => ({\n  title: item.json.content || 'Без назви',\n  description: item.json.description || '',\n  due: item.json.due?.date || ''\n}));\n\nconst payments = $('Check Due Payments').all().map(item => ({\n  name: item.json.payment_name || '',\n  amount: item.json.amount || '',\n  category: item.json.category || '',\n  payment_day: item.json.payment_day || '',\n  days_left: item.json.days_left || ''\n}));\n\nreturn [\n  {\n    json: {\n      events,\n      tasks,\n      payments\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          96,
          -112
        ],
        "id": "a3ac3259-8b40-40ce-b56e-c79658a67985",
        "name": "Prepare Summary Data"
      },
      {
        "parameters": {
          "numberInputs": 3
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -128,
          -128
        ],
        "id": "da3e6ffb-9683-4c70-a659-42991ea760d4",
        "name": "Merge"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1eGUTAW-BmF7OpPN3A95TZbQDAIGoJse43uXYQx4IFUM/edit?gid=1567013522#gid=1567013522",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 1567013522,
            "mode": "list",
            "cachedResultName": "Recurring Payments",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eGUTAW-BmF7OpPN3A95TZbQDAIGoJse43uXYQx4IFUM/edit#gid=1567013522"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -576,
          -304
        ],
        "id": "0111a977-d0d1-4527-84e6-becb2c702433",
        "name": "Recurring Payments",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const today = new Date();\n\nconst currentDay = today.getDate();\n\nconst reminders = [];\n\nfor (const item of items) {\n\n  const paymentDay = Number(item.json.Day);\n  const reminderDays = Number(item.json[\"Reminder Days\"]);\n\n  const daysLeft = paymentDay - currentDay;\n\n  if (daysLeft === reminderDays) {\n\n    reminders.push({\n      json: {\n        payment_name: item.json.Name,\n        amount: item.json.Amount,\n        category: item.json.Category,\n        payment_day: paymentDay,\n        days_left: daysLeft\n      }\n    });\n\n  }\n\n}\n\nreturn reminders;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -352,
          -304
        ],
        "id": "f6d1a0a8-b708-481b-9250-30e06ec843a9",
        "name": "Check Due Payments"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get many tasks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Recurring Payments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Telegram Send Summary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get many tasks": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Prepare Summary Data": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Prepare Summary Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recurring Payments": {
        "main": [
          [
            {
              "node": "Check Due Payments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Due Payments": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buts Sergei",
    "name": "Version 4b22ddc8",
    "description": "",
    "autosaved": false
  },
  "tags": []
}