workflows/production/shibo-bot-time-ien5RlgDgEkwGRdl.json
{
  "updatedAt": "2026-05-08T22:37:57.882Z",
  "createdAt": "2026-05-08T09:10:40.753Z",
  "id": "ien5RlgDgEkwGRdl",
  "name": "Shibo Bot/time",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4195f964-c03e-4877-8446-a75b01c7f14d",
              "leftValue": "={{ $json[\"User id\"] }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        128,
        256
      ],
      "id": "c41b6cb3-cf5e-4379-81d6-e7d0b645b4e9",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2094711948,
          "mode": "list",
          "cachedResultName": "Травень",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=2094711948"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User id",
              "lookupValue": "={{ $('Parse & Calc Hours1').item.json['User id'] }}"
            }
          ]
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        240
      ],
      "id": "70586e60-63c1-4b28-876f-4b9f00f5c698",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2094711948,
          "mode": "list",
          "cachedResultName": "Травень",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=2094711948"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "1": "={{ $json['1'] }}",
            "2": "={{ $json['2'] }}",
            "3": "={{ $json['3'] }}",
            "4": "={{ $json['4'] }}",
            "5": "={{ $json['5'] }}",
            "6": "={{ $json['6'] }}",
            "7": "={{ $json['7'] }}",
            "8": "={{ $json['8'] }}",
            "9": "={{ $json['9'] }}",
            "10": "={{ $json['10'] }}",
            "11": "={{ $json['11'] }}",
            "12": "={{ $json['12'] }}",
            "13": "={{ $json['13'] }}",
            "14": "={{ $json['14'] }}",
            "15": "={{ $json['15'] }}",
            "16": "={{ $json['16'] }}",
            "17": "={{ $json['17'] }}",
            "18": "={{ $json['18'] }}",
            "19": "={{ $json['19'] }}",
            "20": "={{ $json['20'] }}",
            "21": "={{ $json['21'] }}",
            "22": "={{ $json['22'] }}",
            "23": "={{ $json['23'] }}",
            "24": "={{ $json['24'] }}",
            "25": "={{ $json['25'] }}",
            "26": "={{ $json['26'] }}",
            "27": "={{ $json['27'] }}",
            "28": "={{ $json['28'] }}",
            "29": "={{ $json['29'] }}",
            "30": "={{ $json['30'] }}",
            "31": "={{ $json['31'] }}",
            "User id": "={{ $json['User id'] }}",
            "User name": "={{ $('Get row(s) in sheet').item.json['User name'] }}"
          },
          "matchingColumns": [
            "User id"
          ],
          "schema": [
            {
              "id": "User id",
              "displayName": "User id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User name",
              "displayName": "User name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2",
              "displayName": "2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3",
              "displayName": "3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4",
              "displayName": "4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5",
              "displayName": "5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6",
              "displayName": "6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7",
              "displayName": "7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8",
              "displayName": "8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10",
              "displayName": "10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "11",
              "displayName": "11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12",
              "displayName": "12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "13",
              "displayName": "13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "14",
              "displayName": "14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "15",
              "displayName": "15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "16",
              "displayName": "16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "17",
              "displayName": "17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "18",
              "displayName": "18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "19",
              "displayName": "19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "20",
              "displayName": "20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21",
              "displayName": "21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "23",
              "displayName": "23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "24",
              "displayName": "24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "25",
              "displayName": "25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "26",
              "displayName": "26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "27",
              "displayName": "27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "28",
              "displayName": "28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "29",
              "displayName": "29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "30",
              "displayName": "30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "31",
              "displayName": "31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Hours",
              "displayName": "Total Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        144
      ],
      "id": "37657593-dca1-4a0e-b09b-4ae2c25b8f16",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message.text.trim();\n\n// только время\nconst timeOnlyRegex = /^([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\n// дата + время\nconst dateTimeRegex = /^(\\d{1,2})\\.(\\d{1,2})\\s+([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\nlet day;\nlet month;\nlet start;\nlet end;\n\n// текущая дата по Киеву\nconst now = new Date();\nconst kyivParts = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/Kyiv',\n  day: 'numeric',\n  month: 'numeric',\n  year: 'numeric'\n}).formatToParts(now);\n\nconst currentDay = Number(kyivParts.find(p => p.type === 'day').value);\nconst currentMonth = Number(kyivParts.find(p => p.type === 'month').value);\nconst currentYear = Number(kyivParts.find(p => p.type === 'year').value);\n\nif (timeOnlyRegex.test(text)) {\n  const [parsedStart, parsedEnd] = text.split('-');\n  start = parsedStart;\n  end = parsedEnd;\n  day = currentDay;\n  month = currentMonth;\n} else {\n  const match = text.match(dateTimeRegex);\n\n  if (!match) {\n    throw new Error(`INVALID_FORMAT|${$json.message.chat.id}`);\n  }\n\n  day = Number(match[1]);\n  month = Number(match[2]);\n  start = `${match[3]}:${match[4]}`;\n  end = `${match[5]}:${match[6]}`;\n\n  if (month !== currentMonth) {\n    throw new Error(`INVALID_MONTH|${$json.message.chat.id}`);\n  }\n\n  const testDate = new Date(currentYear, month - 1, day);\n\n  const isValidDate =\n    testDate.getFullYear() === currentYear &&\n    testDate.getMonth() === month - 1 &&\n    testDate.getDate() === day;\n\n  if (!isValidDate) {\n    throw new Error(`INVALID_DATE|${$json.message.chat.id}`);\n  }\n}\n\nfunction getWorkedTime(start, end) {\n  const [sh, sm] = start.split(':').map(Number);\n  const [eh, em] = end.split(':').map(Number);\n\n  let startMin = sh * 60 + sm;\n  let endMin = eh * 60 + em;\n\n  if (endMin < startMin) {\n    endMin += 24 * 60;\n  }\n\n  const diff = endMin - startMin;\n  const hours = Math.floor(diff / 60);\n  const minutes = diff % 60;\n\n  return `${hours}:${String(minutes).padStart(2, '0')}`;\n}\n\nconst workedTime = getWorkedTime(start, end);\n\nreturn [{\n  'User id': String($json.message.from.id),\n  'Username': $input.first().json.message.from.first_name|| 'no_username',\n  'day': String(day),\n  'workedTime': workedTime,\n  'chat_id': $json.message.chat.id\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        256
      ],
      "id": "d202a144-3a95-414c-b2cf-ce8c9a47afe5",
      "name": "Parse & Calc Hours1"
    },
    {
      "parameters": {
        "jsCode": "const oldRow = $('Get row(s) in sheet').first().json;\nconst newData = $('Parse & Calc Hours1').first().json;\n\nconst targetDay = String(newData.day);\n\nlet updatedRow = {\n  'User id': String(oldRow['User id']),\n  'Username': oldRow['Username']\n};\n\n// аккуратно копируем только дни\nfor (let i = 1; i <= 31; i++) {\n  updatedRow[String(i)] = oldRow[String(i)] || '';\n}\n\n// обновляем нужный день\nupdatedRow[targetDay] = newData.workedTime;\n\n// если есть total hours — оставляем\nif (oldRow['Total Hours']) {\n  updatedRow['Total Hours'] = oldRow['Total Hours'];\n}\n\nreturn [{\n  json: updatedRow\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        144
      ],
      "id": "116a58d3-1c1c-4114-bfcb-f19517f87157",
      "name": "Build update Row"
    },
    {
      "parameters": {
        "jsCode": "const newData = $('Parse & Calc Hours1').first().json;\n\nlet row = {\n  'User id': newData['User id'],\n  'Username': newData['Username']\n};\n\nfor (let i = 1; i <= 31; i++) {\n  row[String(i)] = '';\n}\n\nrow[String(newData.day)] = newData.workedTime;\n\nreturn [row];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        368
      ],
      "id": "396d92a9-0e2a-450c-9ceb-f57f71923d55",
      "name": "Create New Row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2094711948,
          "mode": "list",
          "cachedResultName": "Травень",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=2094711948"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "1": "={{ $json['1'] }}",
            "2": "={{ $json['2'] }}",
            "3": "={{ $json['3'] }}",
            "4": "={{ $json['4'] }}",
            "5": "={{ $json['5'] }}",
            "6": "={{ $json['6'] }}",
            "7": "={{ $json['7'] }}",
            "8": "={{ $json['8'] }}",
            "9": "={{ $json['9'] }}",
            "10": "={{ $json['10'] }}",
            "11": "={{ $json['11'] }}",
            "12": "={{ $json['12'] }}",
            "13": "={{ $json['13'] }}",
            "14": "={{ $json['14'] }}",
            "15": "={{ $json['15'] }}",
            "16": "={{ $json['16'] }}",
            "17": "={{ $json['17'] }}",
            "18": "={{ $json['18'] }}",
            "19": "={{ $json['19'] }}",
            "20": "={{ $json['20'] }}",
            "21": "={{ $json['21'] }}",
            "22": "={{ $json['22'] }}",
            "23": "={{ $json['23'] }}",
            "24": "={{ $json['24'] }}",
            "25": "={{ $json['25'] }}",
            "26": "={{ $json['26'] }}",
            "27": "={{ $json['27'] }}",
            "28": "={{ $json['28'] }}",
            "29": "={{ $json['29'] }}",
            "30": "={{ $json['30'] }}",
            "31": "={{ $json['31'] }}",
            "User id": "={{ $json['User id'] }}",
            "User name": "={{ $json['Username'] }}"
          },
          "matchingColumns": [
            "User id"
          ],
          "schema": [
            {
              "id": "User id",
              "displayName": "User id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User name",
              "displayName": "User name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2",
              "displayName": "2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3",
              "displayName": "3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4",
              "displayName": "4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5",
              "displayName": "5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6",
              "displayName": "6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7",
              "displayName": "7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8",
              "displayName": "8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10",
              "displayName": "10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "11",
              "displayName": "11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12",
              "displayName": "12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "13",
              "displayName": "13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "14",
              "displayName": "14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "15",
              "displayName": "15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "16",
              "displayName": "16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "17",
              "displayName": "17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "18",
              "displayName": "18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "19",
              "displayName": "19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "20",
              "displayName": "20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21",
              "displayName": "21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "23",
              "displayName": "23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "24",
              "displayName": "24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "25",
              "displayName": "25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "26",
              "displayName": "26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "27",
              "displayName": "27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "28",
              "displayName": "28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "29",
              "displayName": "29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "30",
              "displayName": "30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "31",
              "displayName": "31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time 1-15",
              "displayName": "Time 1-15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time 16-31",
              "displayName": "Time 16-31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Hours",
              "displayName": "Total Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        384
      ],
      "id": "76a61639-e1bc-4a6f-9e84-02dd83b02f77",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afc9c774-3dd1-4445-b404-9051489ef36e",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -496,
        240
      ],
      "id": "1feb74dd-d006-4d30-a9c8-6835edcb3beb",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ \n`👋 Привіт! Я бот для обліку робочого часу.\n\nЯ допомагаю вести табель і рахувати відпрацьовані години за місяць 📊\n\n━━━━━━━━━━━━━━━\n🕒 Як користуватись\n\nПросто напиши свій робочий час у форматі:\n\n10:00-21:00\n\nЯ сам порахую години і запишу їх у таблицю за сьогоднішній день.\n\n━━━━━━━━━━━━━━━\n📅 Якщо потрібно записати за інший день\n\nНапиши дату + час:\n\n9.04 10:00-22:45\n\nЯ запишу це у відповідний день (9 число).\n\n⚠️ Можна вказувати тільки поточний місяць.\n\n━━━━━━━━━━━━━━━\n✅ Приклади\n\n10:00-21:00  \n9:45-21:00  \n9.04 10:00-22:45  \n\n━━━━━━━━━━━━━━━\n❌ Неправильно\n\n10-21  \n9/04 10:00-22:00  \nбудь-який текст 😄  \n\n━━━━━━━━━━━━━━━\n💡 Що я роблю\n\n• рахую відпрацьовані години  \n• записую їх у таблицю  \n• підсумовую години за місяць  \n\n━━━━━━━━━━━━━━━\n🚀 Просто напиши свій робочий час 👇`\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        16
      ],
      "id": "71a71964-9bbc-42db-98b9-8661ad56dbc2",
      "name": "Send a text message",
      "webhookId": "00cfe593-319f-4e4d-8a18-ec2527b3cb65",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "lpSZgr42srK3I6se",
          "name": "Shibo_bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        240
      ],
      "id": "6465a2da-cc37-4b29-a288-aeda15b5a5a9",
      "name": "Telegram Trigger",
      "webhookId": "2e44fb5b-5036-4d65-b7db-c6215c7c27c7",
      "credentials": {
        "telegramApi": {
          "id": "lpSZgr42srK3I6se",
          "name": "Shibo_bot"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Build update Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Calc Hours1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build update Row": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Row": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse & Calc Hours1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "GKYthoAznKPEGUNo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1fd48594-f148-4a24-a4c2-0ed8570bdc95",
  "activeVersionId": "1fd48594-f148-4a24-a4c2-0ed8570bdc95",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-08T09:10:40.757Z",
      "createdAt": "2026-05-08T09:10:40.757Z",
      "role": "workflow:owner",
      "workflowId": "ien5RlgDgEkwGRdl",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-08T22:47:25.000Z",
    "createdAt": "2026-05-08T22:37:57.884Z",
    "versionId": "1fd48594-f148-4a24-a4c2-0ed8570bdc95",
    "workflowId": "ien5RlgDgEkwGRdl",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4195f964-c03e-4877-8446-a75b01c7f14d",
                "leftValue": "={{ $json[\"User id\"] }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          128,
          256
        ],
        "id": "c41b6cb3-cf5e-4379-81d6-e7d0b645b4e9",
        "name": "If"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2094711948,
            "mode": "list",
            "cachedResultName": "Травень",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=2094711948"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "User id",
                "lookupValue": "={{ $('Parse & Calc Hours1').item.json['User id'] }}"
              }
            ]
          },
          "options": {
            "outputFormatting": {
              "values": {
                "general": "FORMATTED_VALUE",
                "date": "FORMATTED_STRING"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -32,
          240
        ],
        "id": "70586e60-63c1-4b28-876f-4b9f00f5c698",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2094711948,
            "mode": "list",
            "cachedResultName": "Травень",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=2094711948"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "1": "={{ $json['1'] }}",
              "2": "={{ $json['2'] }}",
              "3": "={{ $json['3'] }}",
              "4": "={{ $json['4'] }}",
              "5": "={{ $json['5'] }}",
              "6": "={{ $json['6'] }}",
              "7": "={{ $json['7'] }}",
              "8": "={{ $json['8'] }}",
              "9": "={{ $json['9'] }}",
              "10": "={{ $json['10'] }}",
              "11": "={{ $json['11'] }}",
              "12": "={{ $json['12'] }}",
              "13": "={{ $json['13'] }}",
              "14": "={{ $json['14'] }}",
              "15": "={{ $json['15'] }}",
              "16": "={{ $json['16'] }}",
              "17": "={{ $json['17'] }}",
              "18": "={{ $json['18'] }}",
              "19": "={{ $json['19'] }}",
              "20": "={{ $json['20'] }}",
              "21": "={{ $json['21'] }}",
              "22": "={{ $json['22'] }}",
              "23": "={{ $json['23'] }}",
              "24": "={{ $json['24'] }}",
              "25": "={{ $json['25'] }}",
              "26": "={{ $json['26'] }}",
              "27": "={{ $json['27'] }}",
              "28": "={{ $json['28'] }}",
              "29": "={{ $json['29'] }}",
              "30": "={{ $json['30'] }}",
              "31": "={{ $json['31'] }}",
              "User id": "={{ $json['User id'] }}",
              "User name": "={{ $('Get row(s) in sheet').item.json['User name'] }}"
            },
            "matchingColumns": [
              "User id"
            ],
            "schema": [
              {
                "id": "User id",
                "displayName": "User id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "User name",
                "displayName": "User name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "1",
                "displayName": "1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "2",
                "displayName": "2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "3",
                "displayName": "3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "4",
                "displayName": "4",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "5",
                "displayName": "5",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "6",
                "displayName": "6",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "7",
                "displayName": "7",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "8",
                "displayName": "8",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "9",
                "displayName": "9",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "10",
                "displayName": "10",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "11",
                "displayName": "11",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "12",
                "displayName": "12",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "13",
                "displayName": "13",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "14",
                "displayName": "14",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "15",
                "displayName": "15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "16",
                "displayName": "16",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "17",
                "displayName": "17",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "18",
                "displayName": "18",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "19",
                "displayName": "19",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "20",
                "displayName": "20",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "21",
                "displayName": "21",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "22",
                "displayName": "22",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "23",
                "displayName": "23",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "24",
                "displayName": "24",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "25",
                "displayName": "25",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "26",
                "displayName": "26",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "27",
                "displayName": "27",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "28",
                "displayName": "28",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "29",
                "displayName": "29",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "30",
                "displayName": "30",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "31",
                "displayName": "31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Total Hours",
                "displayName": "Total Hours",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Salary",
                "displayName": "Salary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          560,
          144
        ],
        "id": "37657593-dca1-4a0e-b09b-4ae2c25b8f16",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const text = $json.message.text.trim();\n\n// только время\nconst timeOnlyRegex = /^([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\n// дата + время\nconst dateTimeRegex = /^(\\d{1,2})\\.(\\d{1,2})\\s+([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\nlet day;\nlet month;\nlet start;\nlet end;\n\n// текущая дата по Киеву\nconst now = new Date();\nconst kyivParts = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/Kyiv',\n  day: 'numeric',\n  month: 'numeric',\n  year: 'numeric'\n}).formatToParts(now);\n\nconst currentDay = Number(kyivParts.find(p => p.type === 'day').value);\nconst currentMonth = Number(kyivParts.find(p => p.type === 'month').value);\nconst currentYear = Number(kyivParts.find(p => p.type === 'year').value);\n\nif (timeOnlyRegex.test(text)) {\n  const [parsedStart, parsedEnd] = text.split('-');\n  start = parsedStart;\n  end = parsedEnd;\n  day = currentDay;\n  month = currentMonth;\n} else {\n  const match = text.match(dateTimeRegex);\n\n  if (!match) {\n    throw new Error(`INVALID_FORMAT|${$json.message.chat.id}`);\n  }\n\n  day = Number(match[1]);\n  month = Number(match[2]);\n  start = `${match[3]}:${match[4]}`;\n  end = `${match[5]}:${match[6]}`;\n\n  if (month !== currentMonth) {\n    throw new Error(`INVALID_MONTH|${$json.message.chat.id}`);\n  }\n\n  const testDate = new Date(currentYear, month - 1, day);\n\n  const isValidDate =\n    testDate.getFullYear() === currentYear &&\n    testDate.getMonth() === month - 1 &&\n    testDate.getDate() === day;\n\n  if (!isValidDate) {\n    throw new Error(`INVALID_DATE|${$json.message.chat.id}`);\n  }\n}\n\nfunction getWorkedTime(start, end) {\n  const [sh, sm] = start.split(':').map(Number);\n  const [eh, em] = end.split(':').map(Number);\n\n  let startMin = sh * 60 + sm;\n  let endMin = eh * 60 + em;\n\n  if (endMin < startMin) {\n    endMin += 24 * 60;\n  }\n\n  const diff = endMin - startMin;\n  const hours = Math.floor(diff / 60);\n  const minutes = diff % 60;\n\n  return `${hours}:${String(minutes).padStart(2, '0')}`;\n}\n\nconst workedTime = getWorkedTime(start, end);\n\nreturn [{\n  'User id': String($json.message.from.id),\n  'Username': $input.first().json.message.from.first_name|| 'no_username',\n  'day': String(day),\n  'workedTime': workedTime,\n  'chat_id': $json.message.chat.id\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -272,
          256
        ],
        "id": "d202a144-3a95-414c-b2cf-ce8c9a47afe5",
        "name": "Parse & Calc Hours1"
      },
      {
        "parameters": {
          "jsCode": "const oldRow = $('Get row(s) in sheet').first().json;\nconst newData = $('Parse & Calc Hours1').first().json;\n\nconst targetDay = String(newData.day);\n\nlet updatedRow = {\n  'User id': String(oldRow['User id']),\n  'Username': oldRow['Username']\n};\n\n// аккуратно копируем только дни\nfor (let i = 1; i <= 31; i++) {\n  updatedRow[String(i)] = oldRow[String(i)] || '';\n}\n\n// обновляем нужный день\nupdatedRow[targetDay] = newData.workedTime;\n\n// если есть total hours — оставляем\nif (oldRow['Total Hours']) {\n  updatedRow['Total Hours'] = oldRow['Total Hours'];\n}\n\nreturn [{\n  json: updatedRow\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          352,
          144
        ],
        "id": "116a58d3-1c1c-4114-bfcb-f19517f87157",
        "name": "Build update Row"
      },
      {
        "parameters": {
          "jsCode": "const newData = $('Parse & Calc Hours1').first().json;\n\nlet row = {\n  'User id': newData['User id'],\n  'Username': newData['Username']\n};\n\nfor (let i = 1; i <= 31; i++) {\n  row[String(i)] = '';\n}\n\nrow[String(newData.day)] = newData.workedTime;\n\nreturn [row];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          368,
          368
        ],
        "id": "396d92a9-0e2a-450c-9ceb-f57f71923d55",
        "name": "Create New Row"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 2094711948,
            "mode": "list",
            "cachedResultName": "Травень",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=2094711948"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "1": "={{ $json['1'] }}",
              "2": "={{ $json['2'] }}",
              "3": "={{ $json['3'] }}",
              "4": "={{ $json['4'] }}",
              "5": "={{ $json['5'] }}",
              "6": "={{ $json['6'] }}",
              "7": "={{ $json['7'] }}",
              "8": "={{ $json['8'] }}",
              "9": "={{ $json['9'] }}",
              "10": "={{ $json['10'] }}",
              "11": "={{ $json['11'] }}",
              "12": "={{ $json['12'] }}",
              "13": "={{ $json['13'] }}",
              "14": "={{ $json['14'] }}",
              "15": "={{ $json['15'] }}",
              "16": "={{ $json['16'] }}",
              "17": "={{ $json['17'] }}",
              "18": "={{ $json['18'] }}",
              "19": "={{ $json['19'] }}",
              "20": "={{ $json['20'] }}",
              "21": "={{ $json['21'] }}",
              "22": "={{ $json['22'] }}",
              "23": "={{ $json['23'] }}",
              "24": "={{ $json['24'] }}",
              "25": "={{ $json['25'] }}",
              "26": "={{ $json['26'] }}",
              "27": "={{ $json['27'] }}",
              "28": "={{ $json['28'] }}",
              "29": "={{ $json['29'] }}",
              "30": "={{ $json['30'] }}",
              "31": "={{ $json['31'] }}",
              "User id": "={{ $json['User id'] }}",
              "User name": "={{ $json['Username'] }}"
            },
            "matchingColumns": [
              "User id"
            ],
            "schema": [
              {
                "id": "User id",
                "displayName": "User id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "User name",
                "displayName": "User name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "1",
                "displayName": "1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "2",
                "displayName": "2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "3",
                "displayName": "3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "4",
                "displayName": "4",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "5",
                "displayName": "5",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "6",
                "displayName": "6",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "7",
                "displayName": "7",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "8",
                "displayName": "8",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "9",
                "displayName": "9",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "10",
                "displayName": "10",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "11",
                "displayName": "11",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "12",
                "displayName": "12",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "13",
                "displayName": "13",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "14",
                "displayName": "14",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "15",
                "displayName": "15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "16",
                "displayName": "16",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "17",
                "displayName": "17",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "18",
                "displayName": "18",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "19",
                "displayName": "19",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "20",
                "displayName": "20",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "21",
                "displayName": "21",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "22",
                "displayName": "22",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "23",
                "displayName": "23",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "24",
                "displayName": "24",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "25",
                "displayName": "25",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "26",
                "displayName": "26",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "27",
                "displayName": "27",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "28",
                "displayName": "28",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "29",
                "displayName": "29",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "30",
                "displayName": "30",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "31",
                "displayName": "31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Time 1-15",
                "displayName": "Time 1-15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Time 16-31",
                "displayName": "Time 16-31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Total Hours",
                "displayName": "Total Hours",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Salary",
                "displayName": "Salary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          592,
          384
        ],
        "id": "76a61639-e1bc-4a6f-9e84-02dd83b02f77",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "afc9c774-3dd1-4445-b404-9051489ef36e",
                "leftValue": "={{ $json.message.text.trim() }}",
                "rightValue": "/start",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -496,
          240
        ],
        "id": "1feb74dd-d006-4d30-a9c8-6835edcb3beb",
        "name": "If1"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "={{ \n`👋 Привіт! Я бот для обліку робочого часу.\n\nЯ допомагаю вести табель і рахувати відпрацьовані години за місяць 📊\n\n━━━━━━━━━━━━━━━\n🕒 Як користуватись\n\nПросто напиши свій робочий час у форматі:\n\n10:00-21:00\n\nЯ сам порахую години і запишу їх у таблицю за сьогоднішній день.\n\n━━━━━━━━━━━━━━━\n📅 Якщо потрібно записати за інший день\n\nНапиши дату + час:\n\n9.04 10:00-22:45\n\nЯ запишу це у відповідний день (9 число).\n\n⚠️ Можна вказувати тільки поточний місяць.\n\n━━━━━━━━━━━━━━━\n✅ Приклади\n\n10:00-21:00  \n9:45-21:00  \n9.04 10:00-22:45  \n\n━━━━━━━━━━━━━━━\n❌ Неправильно\n\n10-21  \n9/04 10:00-22:00  \nбудь-який текст 😄  \n\n━━━━━━━━━━━━━━━\n💡 Що я роблю\n\n• рахую відпрацьовані години  \n• записую їх у таблицю  \n• підсумовую години за місяць  \n\n━━━━━━━━━━━━━━━\n🚀 Просто напиши свій робочий час 👇`\n}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -256,
          16
        ],
        "id": "71a71964-9bbc-42db-98b9-8661ad56dbc2",
        "name": "Send a text message",
        "webhookId": "00cfe593-319f-4e4d-8a18-ec2527b3cb65",
        "notesInFlow": false,
        "credentials": {
          "telegramApi": {
            "id": "lpSZgr42srK3I6se",
            "name": "Shibo_bot"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -736,
          240
        ],
        "id": "6465a2da-cc37-4b29-a288-aeda15b5a5a9",
        "name": "Telegram Trigger",
        "webhookId": "2e44fb5b-5036-4d65-b7db-c6215c7c27c7",
        "credentials": {
          "telegramApi": {
            "id": "lpSZgr42srK3I6se",
            "name": "Shibo_bot"
          }
        }
      }
    ],
    "connections": {
      "If": {
        "main": [
          [
            {
              "node": "Build update Row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Calc Hours1": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build update Row": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New Row": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse & Calc Hours1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buts Sergei",
    "name": "Version 1fd48594",
    "description": "",
    "autosaved": true
  },
  "tags": []
}