workflows/production/telegram-image-5baZ0GD5LHcoSkP4.json
{
  "updatedAt": "2026-07-14T05:53:27.244Z",
  "createdAt": "2026-04-20T17:54:18.871Z",
  "id": "5baZ0GD5LHcoSkP4",
  "name": "Telegram image",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2048,
        -192
      ],
      "id": "914894d2-d8ce-4b74-af82-cb752c9b7f9f",
      "name": "Telegram generation image",
      "webhookId": "6f2111cc-669c-44ef-93d2-a70a0bfda210",
      "credentials": {
        "telegramApi": {
          "id": "wIxKfjFCXEi8oTjZ",
          "name": "HomeworkBot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "83b788c8-d220-4de3-b620-973e0f0503d2",
              "leftValue": "={{ $json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -192
      ],
      "id": "adcc4bb9-6946-4950-9920-9a0a8cf406f2",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output[0].content[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        -48
      ],
      "id": "6df2ad0c-47b2-494e-ae88-6adb8147046f",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "psWSvjslqexAq6jO",
          "name": "OpenAi Beare"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram generation image').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1472,
        -288
      ],
      "id": "c2da5251-0a81-4f34-96a8-367ae2c87066",
      "name": "Get a file",
      "webhookId": "418d16b3-3bfc-4f55-9a47-97869c980b19",
      "credentials": {
        "telegramApi": {
          "id": "wIxKfjFCXEi8oTjZ",
          "name": "HomeworkBot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1248,
        -288
      ],
      "id": "07d5d002-659d-4c48-a6a2-fb3484e068fd",
      "name": "Voice download",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nIPNNgiE2RmjVFt",
          "name": "assemblyAi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_url\": \"{{ $json.upload_url }}\",\n  \"speech_models\": [\n    \"universal-2\"]\n    }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -960,
        -288
      ],
      "id": "f6a04798-3689-4749-9b08-e6d2acfa19d0",
      "name": "voice transcription",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nIPNNgiE2RmjVFt",
          "name": "assemblyAi"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -560,
        -288
      ],
      "id": "1b9afc3a-64f9-455c-a02e-df507e5f8c57",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "1nIPNNgiE2RmjVFt",
          "name": "assemblyAi"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ac7c758f-5807-4ee3-8f73-c94340906e28",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c3b314a5-5020-4635-8db1-a1b21f277e5f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        -288
      ],
      "id": "722a2c34-c74b-4b68-b5a8-84ab07e1302f",
      "name": "If completed of error?"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -752,
        -288
      ],
      "id": "aebdd915-ab57-43a9-a732-6034c67735f0",
      "name": "Wait",
      "webhookId": "d71ca229-4bbe-4d17-b785-f0a396ea4cda"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram generation image').item.json.message.chat.id }}",
        "file": "={{ $json.data[0].url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -592,
        -64
      ],
      "id": "b662baa3-494d-4981-992d-96f5a82b8df8",
      "name": "Send a photo message",
      "webhookId": "1f2b01f0-d451-44ec-84be-e1a5e1fd058c",
      "credentials": {
        "telegramApi": {
          "id": "wIxKfjFCXEi8oTjZ",
          "name": "HomeworkBot"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "You are experianced Ai imege generate assisyant, User gives you basic prompt for dall-e-2 model, you have to improve this prompt, Return only fixed prompt, whithout any other detalis"
            },
            {
              "content": "={{ $('HTTP Request1').item.json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1264,
        -48
      ],
      "id": "b284187c-fa1a-4f83-9b90-891f6804afbe",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "wmMo2Lknq3Hi5ts2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9a77ed5-3609-41ce-8e3f-ec161563834f",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        -192
      ],
      "id": "6d26cfdf-ac3c-4f4c-9cb1-08faee43efb2",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🚀 Привіт! Я бот, який перетворює твій голос у картинку.\n\nЯк це працює:\n1️⃣ Надішли мені голосове повідомлення\n2️⃣ Я розпізнаю текст\n3️⃣ Згенерую зображення за твоїм описом\n4️⃣ Відправлю результат прямо в чат\n\n🎤 Приклади:\n— «Кіт у костюмі шеф-кухаря готує пасту»\n— «Футуристичне місто вночі у стилі кіберпанк»\n— «Дракон летить над замком на заході сонця»\n\n⚠️ Важливо:\n— Говори чітко\n— Додавай деталі (стиль, кольори, настрій)\n— Чим точніше опис — тим крутіший результат\n\nСпробуй прямо зараз 👇\nНадішли голосове повідомлення\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1680,
        -480
      ],
      "id": "e1bf9cc5-81c7-416b-a211-6e16a5be0195",
      "name": "Send a text message",
      "webhookId": "3b452dbb-19d3-4472-a8e0-e2058c5120db",
      "credentials": {
        "telegramApi": {
          "id": "wIxKfjFCXEi8oTjZ",
          "name": "HomeworkBot"
        }
      }
    }
  ],
  "connections": {
    "Telegram generation image": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Voice download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice download": {
      "main": [
        [
          {
            "node": "voice transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "voice transcription": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If completed of error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If completed of error?": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "62450be5-c4bb-4a71-87db-90d4121c4baf",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-20T17:54:18.873Z",
      "createdAt": "2026-04-20T17:54:18.873Z",
      "role": "workflow:owner",
      "workflowId": "5baZ0GD5LHcoSkP4",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": null,
  "tags": []
}