workflows/production/test-chat-nO3VEgzdvoorwQOc.json
{
  "updatedAt": "2026-03-27T16:15:26.927Z",
  "createdAt": "2026-03-27T16:08:44.715Z",
  "id": "nO3VEgzdvoorwQOc",
  "name": "Test Chat",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "fab9b24a-433b-43a5-8e81-e0a732f6428b",
      "name": "When chat message received",
      "webhookId": "5fdf5cd5-124a-496d-a860-d406245d7cd1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d30bc9d1-aefc-40d9-ac70-396eebf61889",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "382db636-2ac9-44ef-b8ee-32c8cc9a3062",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wmMo2Lknq3Hi5ts2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "9cc4afd0-1332-4a69-8727-06cacc91bf27",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d058c6a2-10aa-4149-a792-e46312466d20",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:08:44.717Z",
      "createdAt": "2026-03-27T16:08:44.717Z",
      "role": "workflow:owner",
      "workflowId": "nO3VEgzdvoorwQOc",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": null,
  "tags": []
}