workflows/production/tony-work-9zCUGUaLm3M33LhO.json
{
  "updatedAt": "2026-07-04T20:36:27.495Z",
  "createdAt": "2026-04-07T19:13:57.410Z",
  "id": "9zCUGUaLm3M33LhO",
  "name": "Tony work",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2480,
        -400
      ],
      "id": "0f4dcb8b-8707-4867-9d07-bd059c0c5089",
      "name": "Telegram Trigger",
      "webhookId": "4ff1543e-0e2c-4fc1-bb08-e77cfd6bde03",
      "credentials": {
        "telegramApi": {
          "id": "fhuHHM0lesLeKwYF",
          "name": "tony/time"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4195f964-c03e-4877-8446-a75b01c7f14d",
              "leftValue": "={{ $json[\"User id\"] }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1584,
        -304
      ],
      "id": "b8b09802-d501-46e0-be10-d4b6e265d27f",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 618354496,
          "mode": "list",
          "cachedResultName": "Липень",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=618354496"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "User id",
              "lookupValue": "={{ $('Parse & Calc Hours1').item.json['User id'] }}"
            }
          ]
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "FORMATTED_VALUE",
              "date": "FORMATTED_STRING"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1808,
        -304
      ],
      "id": "9b3384de-af8e-4c41-b36a-6cd55481835f",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 618354496,
          "mode": "list",
          "cachedResultName": "Липень",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=618354496"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "1": "={{ $json['1'] }}",
            "2": "={{ $json['2'] }}",
            "3": "={{ $json['3'] }}",
            "4": "={{ $json['4'] }}",
            "5": "={{ $json['5'] }}",
            "6": "={{ $json['6'] }}",
            "7": "={{ $json['7'] }}",
            "8": "={{ $json['8'] }}",
            "9": "={{ $json['9'] }}",
            "10": "={{ $json['10'] }}",
            "11": "={{ $json['11'] }}",
            "12": "={{ $json['12'] }}",
            "13": "={{ $json['13'] }}",
            "14": "={{ $json['14'] }}",
            "15": "={{ $json['15'] }}",
            "16": "={{ $json['16'] }}",
            "17": "={{ $json['17'] }}",
            "18": "={{ $json['18'] }}",
            "19": "={{ $json['19'] }}",
            "20": "={{ $json['20'] }}",
            "21": "={{ $json['21'] }}",
            "22": "={{ $json['22'] }}",
            "23": "={{ $json['23'] }}",
            "24": "={{ $json['24'] }}",
            "25": "={{ $json['25'] }}",
            "26": "={{ $json['26'] }}",
            "27": "={{ $json['27'] }}",
            "28": "={{ $json['28'] }}",
            "29": "={{ $json['29'] }}",
            "30": "={{ $json['30'] }}",
            "31": "={{ $json['31'] }}",
            "User id": "={{ $json['User id'] }}",
            "User name": "={{ $('Get row(s) in sheet').item.json['User name'] }}"
          },
          "matchingColumns": [
            "User id"
          ],
          "schema": [
            {
              "id": "User id",
              "displayName": "User id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User name",
              "displayName": "User name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2",
              "displayName": "2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3",
              "displayName": "3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4",
              "displayName": "4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5",
              "displayName": "5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6",
              "displayName": "6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7",
              "displayName": "7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8",
              "displayName": "8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10",
              "displayName": "10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "11",
              "displayName": "11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12",
              "displayName": "12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "13",
              "displayName": "13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "14",
              "displayName": "14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "15",
              "displayName": "15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "16",
              "displayName": "16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "17",
              "displayName": "17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "18",
              "displayName": "18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "19",
              "displayName": "19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "20",
              "displayName": "20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21",
              "displayName": "21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "23",
              "displayName": "23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "24",
              "displayName": "24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "25",
              "displayName": "25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "26",
              "displayName": "26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "27",
              "displayName": "27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "28",
              "displayName": "28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "29",
              "displayName": "29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "30",
              "displayName": "30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "31",
              "displayName": "31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time 1-15",
              "displayName": "Time 1-15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time 16-31",
              "displayName": "Time 16-31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Hours",
              "displayName": "Total Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1136,
        -400
      ],
      "id": "f3c1f15c-2991-404b-887d-cf97494c303f",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.message.text.trim();\n\n// только время\nconst timeOnlyRegex = /^([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\n// дата + время\nconst dateTimeRegex = /^(\\d{1,2})\\.(\\d{1,2})\\s+([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\nlet day;\nlet month;\nlet start;\nlet end;\n\n// текущая дата по Киеву\nconst now = new Date();\nconst kyivParts = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/Kyiv',\n  day: 'numeric',\n  month: 'numeric',\n  year: 'numeric'\n}).formatToParts(now);\n\nconst currentDay = Number(kyivParts.find(p => p.type === 'day').value);\nconst currentMonth = Number(kyivParts.find(p => p.type === 'month').value);\nconst currentYear = Number(kyivParts.find(p => p.type === 'year').value);\n\nif (timeOnlyRegex.test(text)) {\n  const [parsedStart, parsedEnd] = text.split('-');\n  start = parsedStart;\n  end = parsedEnd;\n  day = currentDay;\n  month = currentMonth;\n} else {\n  const match = text.match(dateTimeRegex);\n\n  if (!match) {\n    throw new Error(`INVALID_FORMAT|${$json.message.chat.id}`);\n  }\n\n  day = Number(match[1]);\n  month = Number(match[2]);\n  start = `${match[3]}:${match[4]}`;\n  end = `${match[5]}:${match[6]}`;\n\n  if (month !== currentMonth) {\n    throw new Error(`INVALID_MONTH|${$json.message.chat.id}`);\n  }\n\n  const testDate = new Date(currentYear, month - 1, day);\n\n  const isValidDate =\n    testDate.getFullYear() === currentYear &&\n    testDate.getMonth() === month - 1 &&\n    testDate.getDate() === day;\n\n  if (!isValidDate) {\n    throw new Error(`INVALID_DATE|${$json.message.chat.id}`);\n  }\n}\n\nfunction getWorkedTime(start, end) {\n  const [sh, sm] = start.split(':').map(Number);\n  const [eh, em] = end.split(':').map(Number);\n\n  let startMin = sh * 60 + sm;\n  let endMin = eh * 60 + em;\n\n  if (endMin < startMin) {\n    endMin += 24 * 60;\n  }\n\n  const diff = endMin - startMin;\n  const hours = Math.floor(diff / 60);\n  const minutes = diff % 60;\n\n  return `${hours}:${String(minutes).padStart(2, '0')}`;\n}\n\nconst workedTime = getWorkedTime(start, end);\n\nreturn [{\n  'User id': String($json.message.from.id),\n  'Username': $input.first().json.message.from.first_name|| 'no_username',\n  'day': String(day),\n  'workedTime': workedTime,\n  'chat_id': $json.message.chat.id\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        -304
      ],
      "id": "bca957fa-b7f2-4fcd-8533-d341a809acff",
      "name": "Parse & Calc Hours1"
    },
    {
      "parameters": {
        "jsCode": "const oldRow = $('Get row(s) in sheet').first().json;\nconst newData = $('Parse & Calc Hours1').first().json;\n\nconst targetDay = String(newData.day);\n\nlet updatedRow = {\n  'User id': String(oldRow['User id']),\n  'Username': oldRow['Username']\n};\n\n// аккуратно копируем только дни\nfor (let i = 1; i <= 31; i++) {\n  updatedRow[String(i)] = oldRow[String(i)] || '';\n}\n\n// обновляем нужный день\nupdatedRow[targetDay] = newData.workedTime;\n\n// если есть total hours — оставляем\nif (oldRow['Total Hours']) {\n  updatedRow['Total Hours'] = oldRow['Total Hours'];\n}\n\nreturn [{\n  json: updatedRow\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -400
      ],
      "id": "4ef43e62-043d-48ca-bc54-1451a8ff51bb",
      "name": "Build update Row"
    },
    {
      "parameters": {
        "jsCode": "const newData = $('Parse & Calc Hours1').first().json;\n\nlet row = {\n  'User id': newData['User id'],\n  'Username': newData['Username']\n};\n\nfor (let i = 1; i <= 31; i++) {\n  row[String(i)] = '';\n}\n\nrow[String(newData.day)] = newData.workedTime;\n\nreturn [row];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        -208
      ],
      "id": "9660d395-711b-4957-8bca-ce91c9819011",
      "name": "Create New Row"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 618354496,
          "mode": "list",
          "cachedResultName": "Липень",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=618354496"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "1": "={{ $json['1'] }}",
            "2": "={{ $json['2'] }}",
            "3": "={{ $json['3'] }}",
            "4": "={{ $json['4'] }}",
            "5": "={{ $json['5'] }}",
            "6": "={{ $json['6'] }}",
            "7": "={{ $json['7'] }}",
            "8": "={{ $json['8'] }}",
            "9": "={{ $json['9'] }}",
            "10": "={{ $json['10'] }}",
            "11": "={{ $json['11'] }}",
            "12": "={{ $json['12'] }}",
            "13": "={{ $json['13'] }}",
            "14": "={{ $json['14'] }}",
            "15": "={{ $json['15'] }}",
            "16": "={{ $json['16'] }}",
            "17": "={{ $json['17'] }}",
            "18": "={{ $json['18'] }}",
            "19": "={{ $json['19'] }}",
            "20": "={{ $json['20'] }}",
            "21": "={{ $json['21'] }}",
            "22": "={{ $json['22'] }}",
            "23": "={{ $json['23'] }}",
            "24": "={{ $json['24'] }}",
            "25": "={{ $json['25'] }}",
            "26": "={{ $json['26'] }}",
            "27": "={{ $json['27'] }}",
            "28": "={{ $json['28'] }}",
            "29": "={{ $json['29'] }}",
            "30": "={{ $json['30'] }}",
            "31": "={{ $json['31'] }}",
            "User id": "={{ $json['User id'] }}",
            "User name": "={{ $json['Username'] }}"
          },
          "matchingColumns": [
            "User id"
          ],
          "schema": [
            {
              "id": "User id",
              "displayName": "User id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "User name",
              "displayName": "User name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "1",
              "displayName": "1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "2",
              "displayName": "2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "3",
              "displayName": "3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "4",
              "displayName": "4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "5",
              "displayName": "5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "6",
              "displayName": "6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "7",
              "displayName": "7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "8",
              "displayName": "8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "9",
              "displayName": "9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "10",
              "displayName": "10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "11",
              "displayName": "11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "12",
              "displayName": "12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "13",
              "displayName": "13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "14",
              "displayName": "14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "15",
              "displayName": "15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "16",
              "displayName": "16",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "17",
              "displayName": "17",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "18",
              "displayName": "18",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "19",
              "displayName": "19",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "20",
              "displayName": "20",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21",
              "displayName": "21",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "22",
              "displayName": "22",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "23",
              "displayName": "23",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "24",
              "displayName": "24",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "25",
              "displayName": "25",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "26",
              "displayName": "26",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "27",
              "displayName": "27",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "28",
              "displayName": "28",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "29",
              "displayName": "29",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "30",
              "displayName": "30",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "31",
              "displayName": "31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time 1-15",
              "displayName": "Time 1-15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time 16-31",
              "displayName": "Time 16-31",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Hours",
              "displayName": "Total Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1136,
        -208
      ],
      "id": "1040aa63-2c25-4a5d-8c80-0ca9bf9a979d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Gdvf3Mhmj7whXEv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "afc9c774-3dd1-4445-b404-9051489ef36e",
              "leftValue": "={{ $json.message.text.trim() }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2256,
        -400
      ],
      "id": "3cd4746a-1694-4d40-93e8-91b5680924d5",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ \n`👋 Привіт! Я бот для обліку робочого часу.\n\nЯ допомагаю вести табель і рахувати відпрацьовані години за місяць 📊\n\n━━━━━━━━━━━━━━━\n🕒 Як користуватись\n\nПросто напиши свій робочий час у форматі:\n\n10:00-21:00\n\nЯ сам порахую години і запишу їх у таблицю за сьогоднішній день.\n\n━━━━━━━━━━━━━━━\n📅 Якщо потрібно записати за інший день\n\nНапиши дату + час:\n\n9.04 10:00-22:45\n\nЯ запишу це у відповідний день (9 число).\n\n⚠️ Можна вказувати тільки поточний місяць.\n\n━━━━━━━━━━━━━━━\n✅ Приклади\n\n10:00-21:00  \n9:45-21:00  \n9.04 10:00-22:45  \n\n━━━━━━━━━━━━━━━\n❌ Неправильно\n\n10-21  \n9/04 10:00-22:00  \nбудь-який текст 😄  \n\n━━━━━━━━━━━━━━━\n💡 Що я роблю\n\n• рахую відпрацьовані години  \n• записую їх у таблицю  \n• підсумовую години за місяць  \n\n━━━━━━━━━━━━━━━\n🚀 Просто напиши свій робочий час 👇`\n}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2032,
        -496
      ],
      "id": "15e9e8d2-d0e7-4a45-94bb-64351144064d",
      "name": "Send a text message",
      "webhookId": "00cfe593-319f-4e4d-8a18-ec2527b3cb65",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "fhuHHM0lesLeKwYF",
          "name": "tony/time"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "✅ Зміну записано",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        -304
      ],
      "id": "873b5e38-c0f7-401d-aa20-cc25e6c91135",
      "name": "Send a text message1",
      "webhookId": "15ef2479-8bef-4fb7-a58b-6db7e0117a27",
      "credentials": {
        "telegramApi": {
          "id": "fhuHHM0lesLeKwYF",
          "name": "tony/time"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Telegram Trigger').item.json.message.chat.first_name }} Ласкаво просимо у Тоні\n✅ Зміну записано ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        -208
      ],
      "id": "c3531f20-a75b-47c6-bbcd-a69645f253dc",
      "name": "Send a text message2",
      "webhookId": "15ef2479-8bef-4fb7-a58b-6db7e0117a27",
      "credentials": {
        "telegramApi": {
          "id": "fhuHHM0lesLeKwYF",
          "name": "tony/time"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6222f77-bc2e-4bd2-860a-626703c1ce94",
              "leftValue": "={{ $json['User id'] }}",
              "rightValue": "553813843",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -912,
        -400
      ],
      "id": "c08d7034-e45c-42e0-be94-252eaa5d28d9",
      "name": "If2"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Илья Блять, Молодец\n✅ Зміну записано",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        -496
      ],
      "id": "264f4415-2193-4a3e-a9ab-857aac44544d",
      "name": "Send a text message3",
      "webhookId": "15ef2479-8bef-4fb7-a58b-6db7e0117a27",
      "credentials": {
        "telegramApi": {
          "id": "fhuHHM0lesLeKwYF",
          "name": "tony/time"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Build update Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Calc Hours1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build update Row": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Row": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse & Calc Hours1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "oYc7VMcDoy6gkP90",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "Europe/Kyiv"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "2bca9dbc-6db8-4489-9cb2-764453f91448",
  "activeVersionId": "2bca9dbc-6db8-4489-9cb2-764453f91448",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T19:13:57.412Z",
      "createdAt": "2026-04-07T19:13:57.412Z",
      "role": "workflow:owner",
      "workflowId": "9zCUGUaLm3M33LhO",
      "projectId": "tpHcOqN3nfT7Wyud"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-07-04T20:36:38.000Z",
    "createdAt": "2026-07-04T20:36:27.496Z",
    "versionId": "2bca9dbc-6db8-4489-9cb2-764453f91448",
    "workflowId": "9zCUGUaLm3M33LhO",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -2480,
          -400
        ],
        "id": "0f4dcb8b-8707-4867-9d07-bd059c0c5089",
        "name": "Telegram Trigger",
        "webhookId": "4ff1543e-0e2c-4fc1-bb08-e77cfd6bde03",
        "credentials": {
          "telegramApi": {
            "id": "fhuHHM0lesLeKwYF",
            "name": "tony/time"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4195f964-c03e-4877-8446-a75b01c7f14d",
                "leftValue": "={{ $json[\"User id\"] }}",
                "rightValue": 0,
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1584,
          -304
        ],
        "id": "b8b09802-d501-46e0-be10-d4b6e265d27f",
        "name": "If"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 618354496,
            "mode": "list",
            "cachedResultName": "Липень",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=618354496"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "User id",
                "lookupValue": "={{ $('Parse & Calc Hours1').item.json['User id'] }}"
              }
            ]
          },
          "options": {
            "outputFormatting": {
              "values": {
                "general": "FORMATTED_VALUE",
                "date": "FORMATTED_STRING"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1808,
          -304
        ],
        "id": "9b3384de-af8e-4c41-b36a-6cd55481835f",
        "name": "Get row(s) in sheet",
        "alwaysOutputData": true,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 618354496,
            "mode": "list",
            "cachedResultName": "Липень",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=618354496"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "1": "={{ $json['1'] }}",
              "2": "={{ $json['2'] }}",
              "3": "={{ $json['3'] }}",
              "4": "={{ $json['4'] }}",
              "5": "={{ $json['5'] }}",
              "6": "={{ $json['6'] }}",
              "7": "={{ $json['7'] }}",
              "8": "={{ $json['8'] }}",
              "9": "={{ $json['9'] }}",
              "10": "={{ $json['10'] }}",
              "11": "={{ $json['11'] }}",
              "12": "={{ $json['12'] }}",
              "13": "={{ $json['13'] }}",
              "14": "={{ $json['14'] }}",
              "15": "={{ $json['15'] }}",
              "16": "={{ $json['16'] }}",
              "17": "={{ $json['17'] }}",
              "18": "={{ $json['18'] }}",
              "19": "={{ $json['19'] }}",
              "20": "={{ $json['20'] }}",
              "21": "={{ $json['21'] }}",
              "22": "={{ $json['22'] }}",
              "23": "={{ $json['23'] }}",
              "24": "={{ $json['24'] }}",
              "25": "={{ $json['25'] }}",
              "26": "={{ $json['26'] }}",
              "27": "={{ $json['27'] }}",
              "28": "={{ $json['28'] }}",
              "29": "={{ $json['29'] }}",
              "30": "={{ $json['30'] }}",
              "31": "={{ $json['31'] }}",
              "User id": "={{ $json['User id'] }}",
              "User name": "={{ $('Get row(s) in sheet').item.json['User name'] }}"
            },
            "matchingColumns": [
              "User id"
            ],
            "schema": [
              {
                "id": "User id",
                "displayName": "User id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "User name",
                "displayName": "User name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "1",
                "displayName": "1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "2",
                "displayName": "2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "3",
                "displayName": "3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "4",
                "displayName": "4",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "5",
                "displayName": "5",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "6",
                "displayName": "6",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "7",
                "displayName": "7",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "8",
                "displayName": "8",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "9",
                "displayName": "9",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "10",
                "displayName": "10",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "11",
                "displayName": "11",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "12",
                "displayName": "12",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "13",
                "displayName": "13",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "14",
                "displayName": "14",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "15",
                "displayName": "15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "16",
                "displayName": "16",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "17",
                "displayName": "17",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "18",
                "displayName": "18",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "19",
                "displayName": "19",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "20",
                "displayName": "20",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "21",
                "displayName": "21",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "22",
                "displayName": "22",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "23",
                "displayName": "23",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "24",
                "displayName": "24",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "25",
                "displayName": "25",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "26",
                "displayName": "26",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "27",
                "displayName": "27",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "28",
                "displayName": "28",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "29",
                "displayName": "29",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "30",
                "displayName": "30",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "31",
                "displayName": "31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Time 1-15",
                "displayName": "Time 1-15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Time 16-31",
                "displayName": "Time 16-31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Total Hours",
                "displayName": "Total Hours",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Salary",
                "displayName": "Salary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1136,
          -400
        ],
        "id": "f3c1f15c-2991-404b-887d-cf97494c303f",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const text = $json.message.text.trim();\n\n// только время\nconst timeOnlyRegex = /^([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\n// дата + время\nconst dateTimeRegex = /^(\\d{1,2})\\.(\\d{1,2})\\s+([0-1]?\\d|2[0-3]):([0-5]\\d)-([0-1]?\\d|2[0-3]):([0-5]\\d)$/;\n\nlet day;\nlet month;\nlet start;\nlet end;\n\n// текущая дата по Киеву\nconst now = new Date();\nconst kyivParts = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Europe/Kyiv',\n  day: 'numeric',\n  month: 'numeric',\n  year: 'numeric'\n}).formatToParts(now);\n\nconst currentDay = Number(kyivParts.find(p => p.type === 'day').value);\nconst currentMonth = Number(kyivParts.find(p => p.type === 'month').value);\nconst currentYear = Number(kyivParts.find(p => p.type === 'year').value);\n\nif (timeOnlyRegex.test(text)) {\n  const [parsedStart, parsedEnd] = text.split('-');\n  start = parsedStart;\n  end = parsedEnd;\n  day = currentDay;\n  month = currentMonth;\n} else {\n  const match = text.match(dateTimeRegex);\n\n  if (!match) {\n    throw new Error(`INVALID_FORMAT|${$json.message.chat.id}`);\n  }\n\n  day = Number(match[1]);\n  month = Number(match[2]);\n  start = `${match[3]}:${match[4]}`;\n  end = `${match[5]}:${match[6]}`;\n\n  if (month !== currentMonth) {\n    throw new Error(`INVALID_MONTH|${$json.message.chat.id}`);\n  }\n\n  const testDate = new Date(currentYear, month - 1, day);\n\n  const isValidDate =\n    testDate.getFullYear() === currentYear &&\n    testDate.getMonth() === month - 1 &&\n    testDate.getDate() === day;\n\n  if (!isValidDate) {\n    throw new Error(`INVALID_DATE|${$json.message.chat.id}`);\n  }\n}\n\nfunction getWorkedTime(start, end) {\n  const [sh, sm] = start.split(':').map(Number);\n  const [eh, em] = end.split(':').map(Number);\n\n  let startMin = sh * 60 + sm;\n  let endMin = eh * 60 + em;\n\n  if (endMin < startMin) {\n    endMin += 24 * 60;\n  }\n\n  const diff = endMin - startMin;\n  const hours = Math.floor(diff / 60);\n  const minutes = diff % 60;\n\n  return `${hours}:${String(minutes).padStart(2, '0')}`;\n}\n\nconst workedTime = getWorkedTime(start, end);\n\nreturn [{\n  'User id': String($json.message.from.id),\n  'Username': $input.first().json.message.from.first_name|| 'no_username',\n  'day': String(day),\n  'workedTime': workedTime,\n  'chat_id': $json.message.chat.id\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2032,
          -304
        ],
        "id": "bca957fa-b7f2-4fcd-8533-d341a809acff",
        "name": "Parse & Calc Hours1"
      },
      {
        "parameters": {
          "jsCode": "const oldRow = $('Get row(s) in sheet').first().json;\nconst newData = $('Parse & Calc Hours1').first().json;\n\nconst targetDay = String(newData.day);\n\nlet updatedRow = {\n  'User id': String(oldRow['User id']),\n  'Username': oldRow['Username']\n};\n\n// аккуратно копируем только дни\nfor (let i = 1; i <= 31; i++) {\n  updatedRow[String(i)] = oldRow[String(i)] || '';\n}\n\n// обновляем нужный день\nupdatedRow[targetDay] = newData.workedTime;\n\n// если есть total hours — оставляем\nif (oldRow['Total Hours']) {\n  updatedRow['Total Hours'] = oldRow['Total Hours'];\n}\n\nreturn [{\n  json: updatedRow\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          -400
        ],
        "id": "4ef43e62-043d-48ca-bc54-1451a8ff51bb",
        "name": "Build update Row"
      },
      {
        "parameters": {
          "jsCode": "const newData = $('Parse & Calc Hours1').first().json;\n\nlet row = {\n  'User id': newData['User id'],\n  'Username': newData['Username']\n};\n\nfor (let i = 1; i <= 31; i++) {\n  row[String(i)] = '';\n}\n\nrow[String(newData.day)] = newData.workedTime;\n\nreturn [row];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          -208
        ],
        "id": "9660d395-711b-4957-8bca-ce91c9819011",
        "name": "Create New Row"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit?gid=0#gid=0",
            "mode": "url"
          },
          "sheetName": {
            "__rl": true,
            "value": 618354496,
            "mode": "list",
            "cachedResultName": "Липень",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uab9Go3_R3Myr8k-nOd5v30_6YIRMM6LbbIrwFxpqfo/edit#gid=618354496"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "1": "={{ $json['1'] }}",
              "2": "={{ $json['2'] }}",
              "3": "={{ $json['3'] }}",
              "4": "={{ $json['4'] }}",
              "5": "={{ $json['5'] }}",
              "6": "={{ $json['6'] }}",
              "7": "={{ $json['7'] }}",
              "8": "={{ $json['8'] }}",
              "9": "={{ $json['9'] }}",
              "10": "={{ $json['10'] }}",
              "11": "={{ $json['11'] }}",
              "12": "={{ $json['12'] }}",
              "13": "={{ $json['13'] }}",
              "14": "={{ $json['14'] }}",
              "15": "={{ $json['15'] }}",
              "16": "={{ $json['16'] }}",
              "17": "={{ $json['17'] }}",
              "18": "={{ $json['18'] }}",
              "19": "={{ $json['19'] }}",
              "20": "={{ $json['20'] }}",
              "21": "={{ $json['21'] }}",
              "22": "={{ $json['22'] }}",
              "23": "={{ $json['23'] }}",
              "24": "={{ $json['24'] }}",
              "25": "={{ $json['25'] }}",
              "26": "={{ $json['26'] }}",
              "27": "={{ $json['27'] }}",
              "28": "={{ $json['28'] }}",
              "29": "={{ $json['29'] }}",
              "30": "={{ $json['30'] }}",
              "31": "={{ $json['31'] }}",
              "User id": "={{ $json['User id'] }}",
              "User name": "={{ $json['Username'] }}"
            },
            "matchingColumns": [
              "User id"
            ],
            "schema": [
              {
                "id": "User id",
                "displayName": "User id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "User name",
                "displayName": "User name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "1",
                "displayName": "1",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "2",
                "displayName": "2",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "3",
                "displayName": "3",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "4",
                "displayName": "4",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "5",
                "displayName": "5",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "6",
                "displayName": "6",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "7",
                "displayName": "7",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "8",
                "displayName": "8",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "9",
                "displayName": "9",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "10",
                "displayName": "10",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "11",
                "displayName": "11",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "12",
                "displayName": "12",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "13",
                "displayName": "13",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "14",
                "displayName": "14",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "15",
                "displayName": "15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "16",
                "displayName": "16",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "17",
                "displayName": "17",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "18",
                "displayName": "18",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "19",
                "displayName": "19",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "20",
                "displayName": "20",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "21",
                "displayName": "21",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "22",
                "displayName": "22",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "23",
                "displayName": "23",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "24",
                "displayName": "24",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "25",
                "displayName": "25",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "26",
                "displayName": "26",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "27",
                "displayName": "27",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "28",
                "displayName": "28",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "29",
                "displayName": "29",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "30",
                "displayName": "30",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "31",
                "displayName": "31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Time 1-15",
                "displayName": "Time 1-15",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Time 16-31",
                "displayName": "Time 16-31",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Total Hours",
                "displayName": "Total Hours",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "Salary",
                "displayName": "Salary",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -1136,
          -208
        ],
        "id": "1040aa63-2c25-4a5d-8c80-0ca9bf9a979d",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "0Gdvf3Mhmj7whXEv",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "afc9c774-3dd1-4445-b404-9051489ef36e",
                "leftValue": "={{ $json.message.text.trim() }}",
                "rightValue": "/start",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2256,
          -400
        ],
        "id": "3cd4746a-1694-4d40-93e8-91b5680924d5",
        "name": "If1"
      },
      {
        "parameters": {
          "chatId": "={{ $json.message.chat.id }}",
          "text": "={{ \n`👋 Привіт! Я бот для обліку робочого часу.\n\nЯ допомагаю вести табель і рахувати відпрацьовані години за місяць 📊\n\n━━━━━━━━━━━━━━━\n🕒 Як користуватись\n\nПросто напиши свій робочий час у форматі:\n\n10:00-21:00\n\nЯ сам порахую години і запишу їх у таблицю за сьогоднішній день.\n\n━━━━━━━━━━━━━━━\n📅 Якщо потрібно записати за інший день\n\nНапиши дату + час:\n\n9.04 10:00-22:45\n\nЯ запишу це у відповідний день (9 число).\n\n⚠️ Можна вказувати тільки поточний місяць.\n\n━━━━━━━━━━━━━━━\n✅ Приклади\n\n10:00-21:00  \n9:45-21:00  \n9.04 10:00-22:45  \n\n━━━━━━━━━━━━━━━\n❌ Неправильно\n\n10-21  \n9/04 10:00-22:00  \nбудь-який текст 😄  \n\n━━━━━━━━━━━━━━━\n💡 Що я роблю\n\n• рахую відпрацьовані години  \n• записую їх у таблицю  \n• підсумовую години за місяць  \n\n━━━━━━━━━━━━━━━\n🚀 Просто напиши свій робочий час 👇`\n}}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -2032,
          -496
        ],
        "id": "15e9e8d2-d0e7-4a45-94bb-64351144064d",
        "name": "Send a text message",
        "webhookId": "00cfe593-319f-4e4d-8a18-ec2527b3cb65",
        "notesInFlow": false,
        "credentials": {
          "telegramApi": {
            "id": "fhuHHM0lesLeKwYF",
            "name": "tony/time"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "✅ Зміну записано",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -688,
          -304
        ],
        "id": "873b5e38-c0f7-401d-aa20-cc25e6c91135",
        "name": "Send a text message1",
        "webhookId": "15ef2479-8bef-4fb7-a58b-6db7e0117a27",
        "credentials": {
          "telegramApi": {
            "id": "fhuHHM0lesLeKwYF",
            "name": "tony/time"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "={{ $('Telegram Trigger').item.json.message.chat.first_name }} Ласкаво просимо у Тоні\n✅ Зміну записано ",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -912,
          -208
        ],
        "id": "c3531f20-a75b-47c6-bbcd-a69645f253dc",
        "name": "Send a text message2",
        "webhookId": "15ef2479-8bef-4fb7-a58b-6db7e0117a27",
        "credentials": {
          "telegramApi": {
            "id": "fhuHHM0lesLeKwYF",
            "name": "tony/time"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "b6222f77-bc2e-4bd2-860a-626703c1ce94",
                "leftValue": "={{ $json['User id'] }}",
                "rightValue": "553813843",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -912,
          -400
        ],
        "id": "c08d7034-e45c-42e0-be94-252eaa5d28d9",
        "name": "If2"
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "Илья Блять, Молодец\n✅ Зміну записано",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -688,
          -496
        ],
        "id": "264f4415-2193-4a3e-a9ab-857aac44544d",
        "name": "Send a text message3",
        "webhookId": "15ef2479-8bef-4fb7-a58b-6db7e0117a27",
        "credentials": {
          "telegramApi": {
            "id": "fhuHHM0lesLeKwYF",
            "name": "tony/time"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Build update Row",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse & Calc Hours1": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build update Row": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New Row": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Parse & Calc Hours1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update row in sheet": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          []
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Send a text message3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Buts Sergei",
    "name": "Version 2bca9dbc",
    "description": "",
    "autosaved": true
  },
  "tags": []
}